[2012-06-21 23:33] pg1671 opened #1 "Cannot install knife-azure gem"
When I attempt to install the knife-azure gem on two different computers under osx I get the following error:

ERROR:  Error installing knife-azure:
    knife-azure requires knife-azure (>= 0)

I have tried with and without sudo.

[2012-11-04 04:15] lvnilesh opened #6 "Unable to generate a pem that works."

[2012-11-04 04:59] lvnilesh opened #7 "error creating server"
I have this in my knife.rb

[code]

I get error creating server

[code]

[2012-11-18 01:42] snallami opened #8 "Knife ssh is not working after creating VM using knife azure"
Hi

I am able to create Windows Azure Persistent VM using knife azure plugin(knife azure server create) ,
i also observed that chef-client is configured automatically.

However facing issue when using knife ssh , used below commands
    knife ssh name:sureshrole02 -x ubantu -P a1B2C3D4@ "sudo chef-client"
    or
    knife ssh name:sureshrole02 -x ubantu -P a1B2C3D4@ "sudo chef-client" -a ipaddress

[2012-11-18 05:01] snallami opened #9 "Knife azure plugin is ignoring or overwriting run_list for knife azure server create"
In my knife.rb , for my run_list i gave getting-started recipe but it seems to be ignored or overwritten for command knife azure server create

knife[:run_list]='recipe[getting-started]'

Below is how my knife.rb looks like and

current_dir = File.dirname(**FILE**)
log_level                :info
log_location             STDOUT
node_name                "arunapadala"
client_key               "#{curr

[2012-11-21 08:20] snallami opened #10 "server create command is giving error for winrm enabled images"
"Knife azure server create" is giving error when using winrm enabled images

Below is the error message

Waiting for winrm on 168.62.204.89:5985......ERROR: knife encountered an unexpected error
This may be a bug in the 'azure server create' knife command or plugin
Please collect the output of this command with the `-VV` option before filing a bug report.
Exception: NoMethodError: undefined method

[2012-11-28 22:07] #10 closed, assigned to nobody

[2012-11-28 22:09] #9 closed, assigned to nobody

[2013-03-23 23:30] snallami opened #19 "bundle install is stuck for ever"
On my ubuntu 12.04LTS machine x86_64 , installed ruby and chef using omnibus installer

commands
$ curl -L https://www.opscode.com/chef/install.sh | sudo bash
$ echo 'export PATH="/opt/chef/embedded/bin:$PATH"' >> ~/.bash_profile && source ~/.bash_profile

Then cloned knife azure plugin and tried bundle install , it got stuck for ever.

[2013-04-19 02:13] snallami opened #20 "NoMethodError: undefined method `run_list' for nil:NilClass"
1) Configured Chef-workstation on windows machine
2) Installed knife azure gem by running the command "bundle install" , followed by "rake install"
3) Uploaded all the cookbooks from https://github.com/opscode/java-quick-start.git to hosted chef
4) Executed server create command:

[code]

As expected it created a Windows Azure Ubantu VM but looks like run-list info is not getting passed to the VM.

[2013-04-19 02:15] #19 closed, assigned to nobody

[2013-06-06 22:46] wbingli opened #45 "Support LoadBalancedEndpoint, Subnet, AvailabilitySet and WinRm for server create"
LoadBalancedEndpoint, Subnet, AvailabilitySet features are required when creating azure VM.

For WinRM feature, although it's fine with a pre-captured image with WinRM enabled, it's nice to enable this feature to directly use standard Windows image.

[2013-06-10 16:35] phoellig opened #49 "401 when provisioning windows VMs"
This is probably a configuration issue rather than a bug, but I've followed the docs as best I can and am having some trouble provisioning windows VMs, linux ones work fine.

I'm using 1.2.0, which I checked out and built a few days back (Thursday, I believe).

I created a windows VM in Azure, followed the docs on the knife-windows project to configure winrm (re: ran all of the commands that are s

[2013-07-12 01:36] #45 closed, assigned to nobody

[2013-07-12 01:39] #20 closed, assigned to nobody

[2013-07-12 01:39] #8 closed, assigned to nobody

[2013-07-12 01:40] #7 closed, assigned to nobody

[2013-07-12 01:40] #6 closed, assigned to nobody

[2013-07-12 01:42] #1 closed, assigned to nobody

[2013-11-15 16:15] mattstratton opened #118 "Adding ports/endpoints not working"
When I attempt to use the azure_tcp_endpoints setting in my knife.rb to set a port, this endpoint never gets created on the VM in azure.

The command I am running is

[code]

Attached is the settings in my knife.rb and then the endpoint configuration after the knife bootstrap successfully completes.

![knife rb_for_knife-azure-7](https://f.cloud.github.com/assets/1280666/1551268/27ad1536-4e11-11e3

[2013-11-18 20:00] #118 closed, assigned to nobody

[2014-01-17 13:36] bluesky8640 opened #129 "how to create multiple azure VMs at the same time"
Thanks to knife-azure that I can use knife to manage azure servers. But 'knife azure server create' command can only create one vm at a time. How can I create multiple VMs at the same time under one 'knife azure server create' command? Or is there any other solutions?

Thanks,
Chao Jin

[2014-02-17 14:03] #129 closed, assigned to nobody

[2014-02-24 14:49] bluesky8640 opened #140 "Does 'knife azure server create' support asynchronous request？"
Dear all,

I use 'knife azure' to manage my azure infrastructure. But I found 'knife azure server create' was a synchronous request, which means I must wait for one VM's creation completed to create a next VM.

Does 'knife azure server create' support asynchronous request? I want to send multiple 'knife azure server create' request at the same time to create VMs simultaneously.

Thanks,
Chao Jin

[2014-02-28 17:07] jeffjia opened #141 "Typo in RAEDME.md"
knife azure server create -N MyNewNode --azure-vm-size Medium --I 8fcc3d_Ubuntu-12_04-amd64-30GB -m 'West US' --ssh-user myuser --identity-file ~/.ssh/myprivatekey_rsa

should be

    knife azure server create -N MyNewNode --azure-vm-size Medium -I 8fcc3d_Ubuntu-12_04-amd64-30GB -m 'West US' --ssh-user myuser --identity-file ~/.ssh/myprivatekey_rsa

Using `--I` causes

    ERROR: You did not provi

[2014-05-06 15:20] magaal opened #145 "Provisioning Azure VM with SSH identity file - why failing on password?"
Hi all - not sure why this is happening, here's my output:

azureuser@*****:~$ knife azure server create -N MyNewNodet --azure-vm-size Small --azure-source-image "0b11de9248dd4d87b18621318e037d37__RightImage-Ubuntu-12.04-x64-v5.8.8.8" -m 'West US' --ssh-us
er azureuser --identity-file ~/myPrivateKey.key
............
Waiting for virtual machine to reach status 'provisioning'............vm state 'pr

[2014-05-15 20:26] magaal opened #147 "dpkg status database is locked by another process, chef client install fails"
Running into this inconsistently - some kind of race condition? Using this command...

 knife azure server create - --azure-vm-size Small --azure
-dns-name 'chefsrv90' --azure-vm-name 'chefsrv90' --azure-affinity-group chefnet
 -r "role[webserver]" --azure-network-name chefnet --tcp-endpoints 80:80,8080:80
80

provisions, then once its up during client install:

 to file /tmp/install.sh.1434/chef_

[2014-06-04 05:39] mattstratton opened #148 "Does not play nicely with chefdk"
There seems to be a rdoc conflict with chefdk. When installing knife-azure with the chef gem install command, the following occurs with any knife commands:

[code]

[2014-09-10 17:17] jpicklyk opened #158 "knife azure image list and server create do not allow use of custom image templates I have created"
How can I have knife-azure provision custom images I have stored in azure?

[2014-10-01 02:55] thdotnet opened #161 "can't execute run list after create azure virtual machines"
I'm running the following command:

knife azure server create --azure-dns-name 'knifeth4' --azure-source-image "a699494373c04fc0bc8f2bb1389d6106__Windows-Server-2012-Datacenter-201408.01-en.us-127GB.vhd" --azure-service-location "West US" -P "Pizza1234" -z Small -x "thiago" --tcp-endpoints '3389:3389,5985:5985' -r "role[learn_chef_iis],role[nopcommerce]"  -VV

It configure endpoints and also creat

[2014-10-15 01:38] mg03 opened #165 "what version of chef is supported?"
Hi

I am using the open source version-11 chef server/knife/client all on ubuntu machines. What version of chef will work with the knife-azure plugin?

regards

meher

[2014-11-06 05:54] waghpravin14 opened #166 "knife azure server create failing"
Have been trying to create azure vm using knife using a hosted chef server but have been failing to do so . It waits for winrm to respond and then finally kills itself.

Can someone please provide me help to get me unblocked its very urgent for me to move ahead from here.

Any help will be highly appreciated.
Thanks in advance.

PS C:\chef-repo> knife azure server create --azure-connect-to-existin

[2014-12-18 03:53] #158 closed, assigned to nobody

[2014-12-30 18:06] rreyes opened #176 "New functionality for using the Azure Create Deployment API."
I have a need to upload a new service package using the Azure Create Deployment API. Is there a way to do this currently? If not should I implement the functionality?

i.e. http://msdn.microsoft.com/en-us/library/ee460813.aspx

[2015-01-05 00:36] AnneTheAgile commented on #165
@mg03 , did you fix the problem? What OS / version are you on?

I am here wondering if Chef Knife can be installed on a windows machine.

[2015-01-05 00:39] AnneTheAgile commented on #166
@waghpravin14 , did you get this solved? I take it you have installed knife-azure on your Windows (7?) local machine and you had trouble getting Azure to fully respond?
 AnneTheAgile

[2015-01-05 00:49] AnneTheAgile opened #177 "Knife-Azure's Ruby Gem install means Windows 8 'chef server' is allowed?"
hi! I have not started using Chef yet, I'm  trying to figure out how/where I can install. So I apologize if I am misunderstaning things.

From what I have read, all the other configuration management solutions, ie Ansible, Puppet, SaltStack, have  a hard requirement that the 'leader' node, from which one gives orders, must be a Linux / Unix machine.

However, with this new build of knife-azure, wh

[2015-01-05 05:30] siddheshwar-more commented on #166
@waghpravin14
Can you also set following and try again ?
winrm set winrm/config/winrs @{MaxMemoryPerShellMB="1000"}

[2015-01-05 08:00] siddheshwar-more commented on #177
#### Chef have following constructs-
1. **Chef-Server** - Contains your infrastructure's configuration details.
You can use **Opensource chef-server** or **Hosted chef-server**.
**Note** - Hosted chef-server is maintain by Chef team.
2. **Chef-Client** - It runs on node i.e server you want to configure. **Chef-Client** fetches configuration data from **chef-server** and applies on **Node**.
3. **C

[2015-01-05 10:00] btm commented on #165
@AnneTheAgile yes, you can use knife on Windows. Download Chef-DK or the Windows client from  https://downloads.chef.io/. You can install the knife-azure gem into it as well. When using Chef-DK you can run 'chef gem install knife-azure'.

[2015-01-05 18:45] vkurpad opened #178 "Error creating a VNET"
I'm trying to create a VNET with the command
knife azure vnet create -n 'ChefDemoVNET' -a 'ChefDemoAG' --azure-address-space '10.0.0.0/24'
where ChefDemoAG is an existing ag.

Error out with the message:
.ERROR: knife encountered an unexpected error
This may be a bug in the 'azure vnet create' knife command or plugin
Please collect the output of this command with the `-VV` option before filing a
b

[2015-01-05 18:55] jeffmendoza commented on #178
Yes, this is a bug when you don't already have an existing vnet. The code should be able to handle this case, but it doesn't =(

[2015-01-06 07:49] siddheshwar-more commented on #178
@vkurpad We are looking into this!

[2015-01-06 16:30] siddheshwar-more commented on #178
@vkurpad
Here is fix - https://github.com/opscode/knife-azure/pull/179

I think currently `knife azure vnet create` only updates existing vnet. Seems it doesn't supports creation of new vnet!

[2015-01-06 17:31] AnneTheAgile commented on #177
@siddheshwar-more , thank you for all your details! Using your info plus the chef book on github, it seems to me that if I want to avoid a chef server (whose benefits are a bit unclear to me when I have not too many servers), then I can run chef solo, and azure-knife will work great. Did I get that right?

If you have a reference or spiel on benefits of chef-server I would love to hear that too :)

[2015-01-06 17:32] AnneTheAgile commented on #165
@btm  thank you! I will be trying it all out soon I hope.

[2015-01-07 17:24] btm commented on #177
@AnneTheAgile the are some answers on the internet on why you want a server: some good ones are here: http://serverfault.com/questions/283470/what-are-the-benefits-of-running-chef-server-instead-of-chef-solo

The big thing is the Chef Server knows about your servers. With Solo, you have to keep track of them yourself. If you already have a CMDB, you can use that and work it into Chef. If you only

[2015-01-09 02:19] siddheshwar-more commented on #178
@jeffmendoza

We found following things related to `knife azure vnet create` command :
1. This command only can update existing VNet. We can't create new one using this.
2. Azure Rest api supports **Get**, **Set** and **List** operation on VNet.
   I think Azure api don't support creation of new VNet.
   Ref-  http://msdn.microsoft.com/en-us/library/azure/jj157182.aspx

3. And this issue is becaus

[2015-01-09 21:40] jeffmendoza commented on #178
So, there are no create/delete commands, just a get config and set config command:
http://msdn.microsoft.com/en-us/library/azure/jj157196.aspx
http://msdn.microsoft.com/en-us/library/azure/jj157181.aspx

The config can contain multiple vnets. The current vnet create command gets the config, and tries to add a new vnet to the list in the xml. Something like:

[code]

The code will look for the tag

[2015-01-13 13:29] siddheshwar-more commented on #178
@jeffmendoza
Could you please review #179

[2015-01-15 22:10] AnneTheAgile commented on #148
@mattstratton , now that @kaustubh-d said the rdoc dependency is removed, does it work for you and we can close this?
AnneTheAgile

[2015-02-06 18:08] adamedx opened #189 "Server Create failing for some custom sysprepped images"
Some sysprepped images never reach the "ready" state in Azure, and knife-azure gives up after waiting for a maximum timeout. The Azure portal will show the VM in a "provisioning" state rather than "running" indefinitely. However, the image is actually ready and can be accessed over WinRM.  This does not occur with Azure's stock images. Here's some example output from such a failed create + bootstr

[2015-02-09 23:26] adamedx commented on #178
This was resolved with https://github.com/chef/knife-azure/pull/179. Thank you for your report @vkurpad.

[2015-02-09 23:26] #178 closed

[2015-02-09 23:27] adamedx commented on #189
This was resolved with https://github.com/chef/knife-azure/pull/190.

[2015-02-09 23:27] #189 closed

[2015-02-09 23:36] adamedx commented on #166
@waghpravin14 we've released a new version of knife-azure (1.4.0) -- could you attempt to repro and let us know how things go? Also, setting the winrm settings above would be helpful as well.

[2015-02-09 23:39] adamedx commented on #141
This seems to have been resolved in the latest README.md -- thank you for reporting this.

[2015-02-09 23:39] #141 closed

[2015-02-20 12:00] aiman-alsari opened #199 "Azure China support"
Hi,

Is there any support for Azure China? I suspect it has some minor differences - Has anyone else tested it? I notice that it isn't in the region list in the documentation (although these are only examples..).

Thanks,
Aiman

[2015-02-20 23:09] adamedx commented on #199
I haven't tried it, but if you have access to Azure China, you might be able to configure `knife-azure` to talk to it using the `--azure-api-host-name` option for each subcommand (create, list, etc.).

[2015-02-26 01:21] adamedx opened #201 "Duplicate short-name option in server create command"
Both the --distro and --azure-dns-name options have a short -d option. The --azure-dns-name option should not have the -d option. Additionally, we should have a test that verifies that there are no duplicate short or long options that would have failed in this case.

[2015-02-26 09:11] kaustubh-d commented on #201
We found -d for --distro but not there for --azure-dns-name. We checked this on master branch and released knife-azure.

[2015-02-26 17:23] adamedx opened #203 "knife-azure should allow script extension to be used when doing winrm bootstrap to set winrm timeouts"
We should allow an option in knife-azure to allow the script extension to run before bootstrap when winrm is used (not cloud-api). The user can then specify a powershell script as a string that can be run by the VM script extension to do things like set the winrm timeout, which is useful for Win2k8r2 systems that have a bad winrm config.

[2015-02-27 14:18] adamedx commented on #201
Thanks for looking @kaustubh-d, that must have been a doc-only bug, probably leftover from earlier fixes to duplicate options.

[2015-02-27 14:18] #201 closed

[2015-03-03 17:33] odlevakp commented on #203
I would love it - especially have the ability to specify a script after instance creation. Currently I have no way to launch a stock Windows server image, because winrm remote connections are disabled by default. On Amazon knife-ec2 supports user data, but for Azure I'm out of luck.

[2015-03-03 22:30] schisamo commented on #203
@odlevakp Take a look at https://github.com/chef/knife-azure/pull/204. Needs a little tweaking per feedback from @adamedx but it works with stock images.

[2015-03-10 15:15] aiman-alsari opened #205 "Unable to provision a VM into a load balanced set"
Given the following setup:

* Provision VM *vm1* into cloud service *cs1* using knife-azure.
* Configure *vm1* using the management portal. Add a stand alone endpoint on Port 80 and make that endpoint part of a load balanced set, *lbs1*.

I expect to be able to provision a new VM, *vm2* in *cs1* using *lbs1* but I can not.
Even better, I want to be able to have *lbs1* created when I create *vm1* a

[2015-03-10 15:16] aiman-alsari commented on #205
This is possible using LoadBalancedEndpointSetName

https://msdn.microsoft.com/en-us/library/azure/jj157194.aspx#nwcInputEndpoints

[2015-03-10 17:19] aiman-alsari commented on #205
I'm looking at adding the feature myself.

[2015-03-11 06:49] siddheshwar-more commented on #205
@aiman-alsari
That's great. Let us know if you need any help.

[2015-03-12 01:45] galenemery opened #206 "server create fails chef-client bootstrap using stock 2008r2 image and cloud-api protocol"
From my workstation, using knife azure server create and the 2008r2 image, I am unable to successfully bootstrap the node to my chef server.
publishsettings file exists in my .chef directory right next to knife.rb, all connections work and deploying a 2012r2 image works flawlessly.

Edit: Version of knife-azure is 1.4.0
Bootstrapped version of chef is 12.0.3 (default)

[code]

On the remote node,

[2015-03-12 11:50] aiman-alsari commented on #205
@siddheshwar-more - It's a bit more complicated than I originally thought. I can create the load balanced set fairly easily if it is the first VM in that set - but adding a second VM to an existing LB set requires a subsequent Update Role after Add Role has completed.

It will require changing role.rb quite substantially. I will perform the change, but be aware that it may not be pretty.

[2015-03-12 15:06] aiman-alsari commented on #205
Scratch that last comment - turns out it can all be done via Add Role.

[2015-03-14 20:55] scottgerring opened #207 "server create -> --environment and --json-attributes not working?"
On knife-azure 1.4.0, neither --environment or --json-attributes seem to be propogated to my (Linux) machine, either at runtime on the node or back to the chef server subsequent to a successful run. Are these features working, and if so, are there any caveats on their usage? If not, is there another mechanism I can use to pass run-specific information to a machine?

thanks,

Scott.

[2015-03-24 12:30] aiman-alsari commented on #205
Hi @siddheshwar-more @adamedx @NimishaS @prabhu-das and any other contributors.

I'm looking at finding a good way to specify endpoints. There are 5 parameters that need to be specified.

Public Port
Internal Port (Optional, defaults to public port)
LB set name (Optional, default is no Load balancing)
LB probe HTTP path (Optional, default is TCP probe on public port, only relevant if LB set name i

[2015-03-26 18:52] cstewart87 opened #212 "Compatible with Windows Azure Pack?"
Has anyone tested this to see if it's compatible with the on-prem Windows Azure Pack (WAP)?

[2015-03-30 10:36] siddheshwar-more commented on #205
@aiman-alsari
Sorry for delay was busy with other stuff
#1 looks good, but problem is user has to specify port details in same order ( So, I'm thinking about JSON format like --tcp-endpoints {local_port:80,public_port:80,load_balancer_set_name:teslbs}, {...} )

#2 is not possible in our case as user can specify multiple tcp_endpoints, So having extra options like `--load-balance-set-name` won't he

[2015-04-16 05:51] #203 closed

[2015-04-25 03:23] adamedx commented on #166
Closing since we haven't heard any more reports on this.

[2015-04-25 03:23] #166 closed

[2015-04-25 03:31] adamedx commented on #161
@thdotnet, your best bet here is to use knife-azure 1.4.0 (released in February) with the --bootstrap-protocol option -- this doesn't use WinRM (or any network transport) at all and works well with stock images in Azure: https://github.com/chef/knife-azure/blob/1.4.0/DOC_CHANGES.md#cloud-api-value-for-bootstrap_protocol_option-in-server-create.

Otherwise, I think the analysis from Prabhu was corr

[2015-04-25 03:31] #161 closed

[2015-04-27 18:46] thdotnet commented on #161
I'll try that. Thanks @adamedx  and of you guys.

[2015-05-21 20:31] cparedes opened #219 "Add --[no-]node-verify-api-cert"
It looks like we construct a client.rb file to ship via cloud-api (and possibly bootstrap templates as well if we're doing WinRM) - it'd be great to have support for specifying --[no-]node-verify-api-cert in order to slip in an option in client.rb to not verify the Chef Server SSL certificate in the case of using self-signed certificates.

[2015-05-25 10:14] siddheshwar-more commented on #147
@magaal

Can we close this issue?

[2015-05-25 10:16] siddheshwar-more commented on #145
I think this is resolved !

[2015-05-25 10:16] #145 closed

[2015-05-25 13:38] magaal commented on #147
Yes, sorry! This worked.

Sent from Outlook<http://taps.io/outlookmobile>

On Mon, May 25, 2015 at 3:14 AM -0700, "Siddheshwar More" <notifications@github.com<mailto:notifications@github.com>> wrote:

@magaal<https://github.com/magaal>

Can we close this issue?

-
Reply to this email directly or view it on GitHub<https://github.com/chef/knife-azure/issues/147#issuecomment-105198203>.

[2015-06-01 10:11] NimishaS commented on #165
@AnneTheAgile , is your issue resolved? Can we close this?

[2015-06-01 10:34] NimishaS commented on #206
@galenemery , this issue has been resolved with this PR https://github.com/chef-partners/azure-chef-extension/pull/14.
Please use the latest version of azure chef extension `1207.12.3.0` with `knife azure server create` command. This can be done by specifying `knife[:azure_chef_extension_version] = '1207.12'` in `knife.rb` file.
Let us know if you are still facing this issue.

[2015-06-01 16:34] #206 closed

[2015-06-03 09:51] siddheshwar-more commented on #205
@aiman-alsari
Do you have any Pull Request for this issue?

[2015-06-03 09:54] aiman-alsari commented on #205
Yes it's been sitting there for a while:

https://github.com/chef/knife-azure/pull/210

It might need a bit of work, as I took the easy option as discussed above.

[2015-06-03 10:33] siddheshwar-more commented on #49
@phoellig
Seems this issue is resolved.

[2015-06-03 10:33] #49 closed

[2015-06-03 10:40] siddheshwar-more commented on #165
@mg03
Its working fine at our side with knife-azure version 1.3.0 and released one.

[2015-06-03 10:40] #165 closed

[2015-06-03 11:09] siddheshwar-more commented on #148
@AnneTheAgile @mattstratton
We have verified this with chef-dk v0.6.0 and its working fine.

[2015-06-03 11:09] #148 closed

[2015-06-03 11:10] #177 closed

[2015-06-08 12:54] NimishaS commented on #199
@aiman-alsari, this fix has been merged in master branch.

[2015-06-08 12:54] #199 closed

[2015-06-08 12:57] aiman-alsari commented on #199
Thank you

[2015-06-10 10:14] siddheshwar-more commented on #219
Hello, @cparedes
We are working on this. Thank you !

[2015-06-19 07:47] siddheshwar-more commented on #219
@cparedes
We have fixed this in https://github.com/chef/knife-azure/pull/227/files.
You can use this feature once we release next Chef Extension's version.
Thank you!

[2015-06-19 07:50] siddheshwar-more commented on #205
@aiman-alsari
Thank you for your contribution, we are verifying your changes.

[2015-06-19 11:58] Vasu1105 commented on #207
@scottgerring Could you please let me know chef version and what command you are trying to run.

[2015-06-22 09:27] Vasu1105 commented on #207
@scottgerring Could you please post the log with -VV option for this issue ?

[2015-06-22 09:56] #147 closed

[2015-06-30 09:32] NimishaS commented on #207
@scottgerring , we are tracking this issue as one of our tasks. Could you please comment if the issue still persists for you?

[2015-07-04 15:59] scottgerring commented on #207
Sorry guys, as some time has passed I no longer have access to the system this was occuring on and cannot reproduce the issue from scratch. FYI I ended up using the Azure powershell modules to achieve the same.

[2015-07-04 15:59] #207 closed

[2015-07-20 18:58] acornies opened #235 "server create issue: ProvisioningConfigurationSet must be specified."
I'm trying to create a vm with knife-azure using:

[code]

but consistently getting:

[code]

I have the ssh_user, identity_file and publish_settings file set correctly in knife.rb, but the xml that gets generated doesn't include ProvisioningConfigurationSet. Is this a new or known issue?

using:
Chef: 12.3.0
knife-azure: 1.4.0

[2015-07-24 10:11] #219 closed

[2015-07-24 13:27] Vasu1105 commented on #235
@acornies I wasn't able to reproduce this issue. Are you still facing this issue ? And can you send the log with -VV option .

[2015-08-03 07:28] #205 closed

[2015-08-23 13:45] jackting73 opened #236 "Wrong xml format and value of Get-Deployment by using knife-azure to create a VM"
https://msdn.microsoft.com/en-us/library/azure/ee460804.aspx

We can get the right format and value of Azure REST api (Get-Deployment) if created the VM by Azure.
By Powershell to get Ge-Deployment :
![righbypowershell](https://cloud.githubusercontent.com/assets/13516911/9428383/5d557f0e-49df-11e5-9ccf-d9d5b3af728f.PNG)
By Azure JAVA SDK to get Get-Deployment :
![rightbyjava](https://cloud.githubu

[2015-08-24 11:26] Aliasgar16 commented on #236
Hi @jackting73

From my side I tried to reproduce the error for two Azure VMs (one created through Azure portal and the other one created through 'knife azure server create' command) by making API calls for Get-Deployment operation but I got 200OK as the status, but I ran into the same error as you got when I gave incorrect value for field like DeploymentName. So, could you please provide me the c

[2015-08-25 01:52] jackting73 commented on #236
Hi @Aliasgar16

I follow this article to get the information : http://blogs.msdn.com/b/kaushal/archive/2015/06/02/azure-rest-api-amp-powershell-retrieve-cloud-service-configuration.aspx

My untitled1.ps1 file contents as below: (you should replace the subscription id and thumbprint with yours)

#Request Headers required to invoke the GET DEPLOYMENT REST API
$method = "GET"
$headerDate = '2014-05-0

[2015-08-25 07:38] Aliasgar16 commented on #236
Hi @jackting73

- Things are working well from my side for both type of Azure VMs (one created through Azure portal and the other one created through 'knife azure server create' command) using the script shared by you.
- What I suspect is that there might be issue with the deployment name that you are passing under the **$URI** field.
- I referred **https://msdn.microsoft.com/en-us/library/azure/e

[2015-08-28 06:46] NimishaS commented on #236
@jackting73 , could you please verify if things are working for you using the suggestions provided above?

[2015-08-28 19:27] jackting73 commented on #236
Hi @Aliasgar16 ,

I follow your suggestion to create a VM by Azure which the DNS name and Deployment name are the same with "azurechefnode" then it works (I can get the slot and deployment names)

![chefnodebyazure](https://cloud.githubusercontent.com/assets/13516911/9554924/2a9fc9ae-4dfc-11e5-8be3-91ce966a7ef1.PNG)
![chefnodebyazure2](https://cloud.githubusercontent.com/assets/13516911/9554951/58

[2015-08-29 08:08] jackting73 commented on #236
Hi @Aliasgar16

We captured part of the response body from Get-Deployment command of the two VM with chef extensions then found the value is not correct which if the VM was created by knife.

The VM (azurechefnode) was created by Azure :
![chefnodebyazure3](https://cloud.githubusercontent.com/assets/13516911/9561039/c574e034-4e67-11e5-9911-621254aac494.PNG)
The VM (jackabcd) was created by knife :

[2015-09-01 10:26] Aliasgar16 commented on #236
Hi @jackting73 ,

- knife-azure assigns base64-encoded value for deployment_label field and Azure API https://msdn.microsoft.com/en-us/library/azure/ee460804.aspx expects the same for the deployment_label field. This does not affect the output and the script that you provided works fine if we pass same value for cloud_service_name and deployment_name fields for the VMs created through knife or eve

[2015-09-01 13:32] jackting73 commented on #236
Hi @Aliasgar16

I created the VM (azurechefnode) with the same name to DNS by Azure portal. Then
 created the VM (jackabcd) with the same name to DNS by knife-azure

1. Though knife-azure assigns base64-encoded value for deployment_label field, but it's not the same behavior to the VM created by Azure portal.

2. We found the response format is not correct if the VM was created by knife-azure. So,

[2015-09-01 15:22] Aliasgar16 commented on #236
Hi @jackting73

While creating VM through knife-azure I am getting the below XML response:

INFO: calling post hostedservices/ali-knife/deployments synchronously
DEBUG: <?xml version="1.0"?>
<Deployment xmlns="http://schemas.microsoft.com/windowsazure" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <Name>ali-knife</Name>
  <DeploymentSlot>Production</DeploymentSlot>
  <Label>YWxpLWtuaWZl</

[2015-09-01 15:25] Aliasgar16 commented on #236
Hi @jackting73

Please find below the XML response when created VM through knife-azure:

[code]

Thanks

[2015-09-11 21:29] mfdii commented on #219
Do we know when this is going to be released?

[2015-09-23 01:51] ricardolupo opened #242 "UX on knife azure server delete prompt is misleading"
The prompt for `knife azure server delete` should allow upper and lower case [y|Y] or allow the literal string being requested.

[code]

[2015-10-29 05:35] vinyar commented on #242
:+1:

[2015-10-29 06:02] vinyar opened #248 "knife[:azure_api_host_name] setting does not accept http url"
Bug: specifying the full Azure URL in the knife.rb causes `knife azure` commands to fail.
Expectation: specifying the full URL should work.

Azure docs and config files use the full https URL
example from azureProfile.json:
`"managementEndpointUrl": "https://management.core.windows.net"`
example from myazure.publishsettings:
`ServiceManagementUrl="https://management.core.windows.net"`

I think the

[2015-10-29 11:09] siddheshwar-more commented on #248
@vinyar We are looking into this.

Thank you !

[2015-10-31 01:17] andrewelizondo commented on #242
This code [here](https://github.com/chef/knife-azure/blob/master/lib/chef/knife/azure_server_delete.rb#L126) is actually calling the confirm method from the core knife ui [here](https://github.com/chef/chef/blob/master/lib/chef/knife/core/ui.rb#L267-L272).

This issue should be created against chef itself, not knife-azure. So I'm closing this issue.

[2015-10-31 01:17] #242 closed

[2015-10-31 03:18] andrewelizondo opened #249 "params[:port] doesn't default correctly to 22 when bootstrapping over ssh, causing an xml error"
When trying to bootstrap a base linux box I found a bug where the port isn't properly getting passed into the generated xml when creating the ssh endpoint, causing azure to complain about not liking the generated xml. The problem appears to be that `params[:port]` isn't available when we attempt to inject it [here](https://github.com/chef/knife-azure/blob/master/lib/azure/role.rb#L459-L464)

[code

[2015-10-31 12:01] siddheshwar-more commented on #249
Hello @andrewelizondo
I've tried with `knife-azure` v 1.5.2 and here's command-
[code]
And XML generated:

[code]

Above command working fine for me!
Please share the command that you tried?
Thanks!

[2015-11-01 00:50] andrewelizondo commented on #249
@siddheshwar-more that works fine, but you're explicitly specifying the ssh port.

We should be defaulting to 22 if the ssh port isn't provided so that azure doesn't complain when we give it an empty xml element, the resulting error if we aren't explicitly providing that value is incredibly challenging for a new user attempting to troubleshoot it and is not the desired user experience.

Here is th

[2015-11-01 01:34] siddheshwar-more commented on #249
@andrewelizondo
Yeah its working for me without specifying --ssh-port also, repeating that I'm using `knife-azure` v1.5.2. Please confirm your knife-azure version and share command here!

Thanks!

[2015-11-02 19:38] vinyar opened #250 "knife azure does not honor --node-ssl-verify-mode flag"
Bug:
When `--node-ssl-verify-mode none` is specified no changes are made to client.rb

Expectation:
ssl_verify_mode :verify_none is rendered to the client.rb

Actual:
no changes are made to the file

Notes:
* --no-node-verify-api-cert does place additional text in the client.rb (does not resolve auth with custom trust auth certificates)
* a custom gem is available for testing (verify now) - adamed

[2015-11-02 19:40] vinyar commented on #250
@msnahill for more info

[2015-11-02 20:06] vinyar commented on #250
No cigar:
Manually built the knife-azure gem from https://github.com/chef/knife-azure/tree/adamedx/node_ssl_verify fork.

Command:
`knife azure server create --azure-dns-name myserver --azure-vm-size Medium -I a699494373c04fc0bc8f2bb1389d6106__Windows-Server-2012-R2-20150916-en.us-127GB.vhd --azure-service-location 'Central US' --winrm-user myuser --winrm-password 'cleartextpassword' --bootstrap-p

[2015-11-02 20:33] vinyar commented on #250
bootstrapping a box with new gem placed a literal `knife[:node_ssl_verify_mode] = 'none'`

[2015-11-02 20:41] vinyar commented on #250
the only way this command works is with exactly `ssl_verify_mode :verify_none`
no `=` and no `knife[:...]`

[2015-11-02 20:43] vinyar commented on #250
also, unrelated findings:
 `validator_client_name` & `chef_server_url` are defined twice.

/cc: @andrewelizondo

[2015-11-03 06:08] siddheshwar-more commented on #250
@vinyar @andrewelizondo
We are working on this. Thank You!

[2015-11-03 12:07] NimishaS commented on #250
Work in progress: https://github.com/chef/knife-azure/pull/253
https://github.com/chef-partners/azure-chef-extension/pull/87

[2015-11-04 20:36] vinyar opened #254 "Unable to join servers to Active Directory"
Bug: below command is not able to join newly created Azure server to Domain.

Command:
`
knife azure server create --azure-dns-name myserver --azure-vm-size Medium -I a699494373c04fc0bc8f2bb1389d6106__Windows-Server-2012-R2-20150916-en.us-127GB.vhd --azure-service-location 'Central US' --winrm-user myuser --winrm-password 'cleartextpassword' --bootstrap-protocol cloud-api --azure-network-name 'vne

[2015-11-04 22:33] vinyar commented on #254
same run in debug mode (pem/id/etc.. scrubbed)
Please let me know if you need a specific ID inside XML

https://gist.github.com/vinyar/a58fe57c70880b2c82ee

[2015-11-04 22:34] vinyar commented on #250
:+1:

[2015-11-05 17:48] siddheshwar-more commented on #254
Hello, @vinyar

We are able to reproduce this issue-

In above command you should specify `--azure-domain-user 'domainaccount' ` i.e without <domain_name>  and try again.
Only use `domain_name>\username` format while login using RDP client.

OR

Don't specify  `--azure-domain-name 'ExpressRoute.domain.example.com' ` option, as we are internally set domain name if specified `--azure-domain-user 'Ex

[2015-11-06 01:57] adamedx commented on #254
@siddheshwar-more, thank you! Is there something we should do to make this scenario less easy to hit?

[2015-11-06 08:59] NimishaS commented on #250
@vinyar , we have provided a work-around for this. You can use `--azure-extension-client-config` option in `knife azure server create` command to specify the path of `client.rb` file which contains all the required options.
Please use `knife-azure` master branch.

[2015-11-09 19:30] vinyar commented on #254
Ok, we ran a few experiments with suggestions above. Outcome and feedback below:

__AD Bugs - Does join the domain with the following bugs:__
  • No support for Forest. Domain join should not attempt to infer domain based off the user name or vise versa. It could be the default behavior if the domain is not specified, however, if the domain is specified, it should be used. There can be situations

[2015-11-09 20:00] adamedx commented on #254
@vinyar, I think the new changes I specified above around naming will help the cross-forest case -- we're going to allow specification of upn's.

Regarding seeing the node appearing in Chef, that's currently by design. This is because knife bases being "finished" on the Azure "enable" status for the extension being reached. "Enable" means essentially that we started the chef service. We could have

[2015-11-09 22:45] vinyar commented on #250
@NimishaS
Hi, we'll test it and get back to you.
Q: Will passing node name add the value to client.rb?

Could you please update the readme.md with directions on how to use this flag (so others can benefit from the workaround)

Thank you

[2015-11-10 02:04] vinyar commented on #250
@NimishaS - No luck. Invalid option.

knife azure server create --azure-dns-name myserver --azure-vm-size Medium -I a699494373c04fc0bc8f2bb1389d6106__Windows-Server-2012-R2-20150916-en.us-127GB.vhd --azure-service-location 'Central US' --winrm-user myuser --winrm-password 'cleartextpassword' --bootstrap-protocol cloud-api --azure-network-name 'vnet_express_route' --azure-subnet-name 'Tenant Subnet

[2015-11-10 06:41] NimishaS commented on #250
@vinyar , the new option `--azure-extension-client-config` exists in `knife-azure` `master` branch currently and is not released yet. May be that's why you faced the error. Option is defined here https://github.com/chef/knife-azure/blob/master/lib/chef/knife/azure_server_create.rb#L358

Please follow the given steps to test `master` branch:
[code]

[2015-11-10 09:55] odlevakp opened #257 "Provisioning issues with 1.5.2"
Hello,

when provisioning a new VM and joining it to an existing cloud service I get following error (with -VV):

[code]

It was happening on my local machine, did a clean install on a vagrant `Ubuntu 14.04 LTS` box with the same result, as you can see above.

I was able to fix it by installing the 1.4.0 version, where the same server create commands works.

[code]

Maybe I am just not aware of so

[2015-11-10 20:14] vinyar commented on #250
oooh! I got it. I misunderstood the 'in the master branch' comment. I'll build it and retry. :+1:

[2015-11-12 06:51] kpkrishnamoorthy commented on #249
@siddheshwar-more I'm actually seeing the exact issue @andrewelizondo reported earlier, and I'm using knife-azure v1.5.2.

The command I'm running is "knife azure server create -VV -E azure_qa --ssh-user 'ubuntu' --identity-file <path_to_pem> -I 'base_image' -m 'West US' -z 'Medium' -r 'role[role1],role[role2]' --azure-storage-account '<account>' -t '<path_to_bootstrap_template.rb>' --azure-networ

[2015-11-13 00:26] msnahill commented on #250
@NimishaS,

@vinyar and I built a new Knife-Azure gem following your instructions.  After installing the gem, we added the `--azure-extension-client-config` parameter to our `knife azure server create` command and found the following:

The entire file we passed in as the value for `--azure-extension-client-config` was added to the top of the resulting `client.rb` file.  I was under the impression

[2015-11-13 00:52] vinyar opened #258 "knife azure server delete doesn't delete servers joined to a domain"
Bug: Nodes which have been created and joined domain do not get delete from Chef Server with `knife azure delete  --purge -y` command.

I would speculate that's because the `node name` become FQDN when joined to a domain:
Example: `azureServer401` will become `azureServer401.microsoft.com`

/cc: @msnahill for more info

[2015-11-13 00:58] vinyar opened #259 "(pending validation) Knife server delete is limited to ~5 servers in a list"
Command:
`knife azure server delete 'machine01' 'machine02' 'machine03' 'machine04' 'machine05' 'machine06' --purge -y`

Bug:
Machine06 was not deleted from Azure.  It didn't even get listed in the command's output of work it was performing.

/cc: @msnahill for more info

[2015-11-13 02:05] vinyar commented on #250
note: as part of an experiment, we created a file with just one line `ssl_verify_mode :verify_none` which  accomplished what we needed.

[2015-11-13 06:32] NimishaS commented on #250
@msnahill , @vinyar: It is an expected behavior that the extension appends some necessary parameters and handlers to the client.rb file. But that won't hamper any of the functionality.

[2015-11-13 19:05] vinyar opened #260 "knife azure should support ssl cert bootstrap with cloud-api bootstrap"
When using winrm or ssh, knife will automatically copy over ssl certs to the node being bootstrapped. This should also be done with cloud-api bootstrap.
Support will be needed in both the azure_chef_extension and in knife-azure.

re: https://chefio.atlassian.net/browse/CLOGENG-134

@msnahill

[2015-11-16 04:37] Aliasgar16 commented on #257
@odlevakp can you share the knife-azure command through which you are trying to create the VM under an existing cloud service ?

[2015-11-16 17:08] adamedx commented on #257
This may be an instance of https://github.com/chef/knife-azure/issues/249.

[2015-11-16 17:24] adamedx commented on #259
Thanks @vinyar, this is being investigated. In the meantime, if you're using PowerShell, I recommend something like this which is actually more idiomatic though probably slower:

[code]

[2015-11-16 17:46] vinyar commented on #259
@adamedx :+1: yup. I agree that for a knife based workflow your suggestion will be the better way to go.

[2015-11-17 12:25] Vasu1105 commented on #249
Working on this issue https://github.com/chef/knife-azure/issues/262.
Issue is that the default `bootstrap_protocol` is `winrm` and it gets reset to `ssh` for linux VMs after [this](https://github.com/chef/knife-azure/blob/1.5.2/lib/chef/knife/azure_server_create.rb#L878-L890) is executed.

[2015-11-18 08:04] NimishaS commented on #254
This issue is fixed here https://github.com/chef/knife-azure/issues/256 and merged in master branch

[2015-11-20 14:45] odlevakp commented on #257
Yes, seems it's a duplicate of #249 - didn't spot that one before.

[2015-11-23 07:14] NimishaS commented on #249
@andrewelizondo , @kpkrishnamoorthy , Fixed and merged the fix in master branch here https://github.com/chef/knife-azure/pull/262.
Please follow these steps to verify it on master branch:
[code]

[2015-11-23 10:27] Vasu1105 commented on #259
@vinyar, we tried deleting 6 and 7 VMs and the command ran successfully.
Here is the command with the output-
[code]

[2015-11-23 14:06] #249 closed

[2015-11-23 14:10] #254 closed

[2015-11-23 19:12] vinyar commented on #259
/cc: @msnahill - can you see if you're still having an issue with new gem?

[2015-11-25 06:26] adamedx commented on #257
Closing as a duplicate of #249.

[2015-11-25 06:26] #257 closed

[2015-11-25 06:26] adamedx commented on #250
Resolved with #253.

[2015-11-25 06:29] adamedx commented on #260
Resolved with https://github.com/chef/knife-azure/pull/261.

[2015-11-25 06:29] #260 closed

[2015-11-25 21:54] vinyar commented on #260
:+1:

[2015-11-25 21:59] vinyar commented on #259
@Vasu1105 Hi, my example wasn't very reflective of the actual command.

The names of the nodes in the bug are actually much longer: "msftservername1.redmond.microsoft.subdom.com" - meaning, if there is an some kind of string limit, your example may still be under the limit.

[2015-12-01 11:13] NimishaS commented on #259
@vinyar , are you passing `msftservername1.redmond.microsoft.subdom.com` as `--azure-dns-name` or `--node-name`? It seems more like an FQDN.

[2015-12-01 17:52] siddheshwar-more commented on #258
@vinyar @adamedx

This is not because of `knife-azure`. Node name is set during bootstrap process by chef-client with the help of `ohai` and windows `ohai` plugin by default takes ruby [`Socket.gethostbyname`] (https://github.com/chef/ohai/blob/f1e35bf1d2352bcec0d8b244fdb575ea031a1ee4/lib/ohai/plugins/hostname.rb#L147-L167) help to set node_name attribute.

Possible solutions -

1. Make --node-nam

[2015-12-07 08:39] vinyar commented on #250
could we please add documentation to Readme and -h command line help

[2015-12-07 08:39] #250 closed

[2015-12-07 08:49] NimishaS commented on #250
@vinyar , we'll do that

[2015-12-09 11:56] NimishaS commented on #250
@vinyar , working on updating Readme here https://github.com/chef/knife-azure/pull/270.
`-h command line help` is already updated.

[2015-12-09 17:02] adamedx commented on #248
@vinyar, how did you encounter this? I'd like to understand if you ended up losing lots of time because the name format wasn't clear, or if the tool was very specific and said that the name had to be in a different format.

[2015-12-11 06:07] vinyar commented on #248
Hi. Didn't spend a whole lot of time on it. Maybe 20-30 min?

The scenario was: I was ramping up on various azure drivers, and when I got to knife, entered the same url for `knife[:azure_api_host_name]` as the other drivers.

[2015-12-11 06:16] vinyar commented on #259
We were not passing a name actually. Node name was populated automatically.
The knife command automatically joined nodes to a domain, resulting in long names.

[2015-12-12 03:16] vinyar commented on #250
AWSOME! Thank you!

[2015-12-16 01:39] airborne-donkey opened #273 "knife azure server create - intermittent authorized_keys CERT thumbprint error - v.1.4.0-1.6.0.rc.0"
Error message intermittently received during knife-azure deployment - began Wed PM Dec 2nd:
"FATAL: Unable to create role:BadRequest : The certificate with thumbprint ____ was not found"

We can issue the same exact command multiple times - just minutes from each other.  Sometimes error will occur, sometimes command will successfully complete - it seems to be random.  The workaround right now is -

[2015-12-16 01:55] airborne77 commented on #273
NOTE:  We have attempted this from multiple different Chef workstations & locations - including CentOS 6.7, 7.1 & Ubuntu LTS.  We have also tried this with both knife-azure 1.4.0 and 1.6.0.rc.0. We have tried both using --identity-key parameter, and not using (just --ssh-password)- issue occurring consistently (although intermittently ~50% time).

Here is an example output of two deploys done exac

[2015-12-18 17:09] NimishaS commented on #273
@airborne77 We tried to reproduce this issue,but couldn't.
When we ran two commands parallely, that time we faced conflict error:
[code]
There has been some maintenance work going on in `Azure` which will continue for at least 2 more days. We are also facing some unexpected bugs. This could be the reason for the issue you faced.

[2015-12-18 21:43] airborne77 commented on #273
Thanks for the update NimishaS.  We've also certainly gotten that error.  In our deployment scripts, we previously had "sleep 30" commands between each "knife azure server create", then needed to increase to "sleep 60", now not even "sleep 90" prevents against getting that error.

We still are getting the error intermittently, even yesterday & today, albeit may be happening more like 10% instead o

[2015-12-18 21:51] nromyn commented on #273
@airborne77 The fatal error regarding exclusive access has to do with the Azure Service Model; the Azure Resource Manager model supports concurrent operations, which may remove the requirement for the sleep.

[2015-12-18 21:52] airborne77 commented on #273
Good to know - yes we have not moved to the Resource Manager model yet.  Is there a migration plan for knife-azure towards that newer methodology?

[2015-12-22 01:10] airborne77 commented on #273
FYI - still getting same intermittent CERT errors today.  It does seem to happen in conjunction with concurrent services being deployed into same Cloud Service.

Confirmed from two separate workstations in different locations executing commands to two different Azure subscriptions - both getting intermittent CERT errors.

If we wait until each VM is deployed and bootstrapped before moving to next

[2016-01-11 21:24] rfedoriu commented on #273
I've been getting the exact same error described by @airborne77 when running 'knife azure server create', seemingly randomly. One time it will work and create a VM successfully, and just minutes after completion of the first operation another run may produce the 'Thumbprint' error several times before a successful run. It seems that this just requires repeating the command until it works.
Any info

[2016-01-14 19:18] airborne77 commented on #273
Hi all - will knife-azure will be a supported tool going forward?  My organization has experienced the CERT errors (and other issues with concurrency etc) long enough on all known knife-azure versions - including 1.6.0.rc.0, and has created visible delays and blocking issues for us.  We likely soon will change the path we are using for the infrastructure deployments to another tool if we have no u

[2016-01-19 05:11] adamedx commented on #273
@NimishaS, can you confirm this is a consequence of using ASM rather than ARM?

@airborne77 the plugin is absolutely supported, the problem is we can't reproduce the issue and therefore can't debug it. If you're available for a meeting, we could schedule something for you to repro it that would allow us to debug.

[2016-02-10 02:13] spbreed opened #285 "knife azure server create using ARM templates"
Would there be any functionality to create Azure resources such as VM using Azure ARM JSON templates?

https://github.com/Azure/azure-quickstart-templates

[2016-02-11 09:49] sofam opened #286 "FATAL: The x-ms-version header value '2014-05-01' is not one of the supported version headers."
When deploying with the following command, using knife-azure 1.6.0rc0 I get the error in the subject.
If I actively change the header value in the gem to `request["x-ms-version"] = "2015-04-01"`, it works fine.

Could you please bump it to 2015-04-01?

`knife azure server create --azure-dns-name "future01" --azure-vm-size Standard_DS2  --azure-service-location 'North Europe' --winrm-user kekkonen1

[2016-02-26 20:04] tessus opened #304 "private key file?"
I'm a bit puzzled about the parameter `--identity-file`.

Can you please explain to me, why I have to specify the **private** rsa key? The private key is supposed to stay on my local machine and only the public key should be transferred to the remote machine.

I really do not want my private key to be uploaded somewhere. Something is off here.

[2016-02-26 21:21] stuartpreston commented on #285
Not in knife currently, but you could take a look at https://github.com/pendrica/chef-provisioning-azurerm

[2016-02-29 17:02] adamedx commented on #285
@spbreed, can you clarify the scenario? You're asking if you can supply knife-azure a template? In that case, there's no guarantee the template even provisions VM's, it might provision other things such as storage, etc., that are not directly managed by Chef. In that case, I don't quite see how `knife-azure` which is oriented around provisioning VM's with Chef integration is a consumer of user-sup

[2016-03-02 13:00] sernapallyanurag opened #309 "Error provisioning VM in existing Cloud service"
.ERROR: Virtual machine state 'provisioning' not reached after 20 minutes.
ERROR: Failed to create the server -- exception being rescued: Verify connectivity to Azure and subscription resource li
mit compliance (e.g. maximum CPU core limits) and try again.

I am unable to understand what this means.

[2016-03-02 13:04] NimishaS commented on #309
@sernapallyanurag, please share the command that you ran and also the logs with `-VV` option

[2016-03-04 03:44] sernapallyanurag commented on #309
knife azure server create --azure-vm-size 'Small' --azure-connect-to-existing-dns 'mydns' --azure-dns-name 'mydns' --azure-service-location 'Southeast Asia' --azure-vm-name 'testsonar' --azure-source-image 'b39f27a8b8c64d52b05eac6a62ebad85__Ubuntu-14_04_3-LTS-amd64-server-20160201-en-us-30GB' --ssh-user 'ubuntu' --ssh-password '*****' --tcp-endpoints 80:8080,443,9000,8989,5672,3389' --run-list 'ro

[2016-03-04 04:51] sernapallyanurag commented on #309
INFO: calling get hostedservices/mydns synchronously
.INFO: calling get hostedservices/mydns/deploymentslots/Production synchronously
.
Waiting for virtual machine to reach status 'provisioning'INFO: calling get hostedservices/sonatacir/deploymentslots/Pro
duction synchronously
..INFO: calling get hostedservices/mydns/deploymentslots/Production synchronously
..INFO: calling get hostedservices/mydn

[2016-03-04 05:07] Vasu1105 commented on #309
@sernapallyanurag use auth_timeout option in server create to avoid this error. You can refer #189 and #190 for this.

[2016-03-04 08:48] sernapallyanurag commented on #309
Mine is a ubuntu VM not windows.

[2016-03-04 17:00] adamedx commented on #304
@tessus it doesn't get uploaded, it's used to connect to the remote system. Is there anything in particular that led you to believe it was being uploaded?

[2016-03-04 17:04] adamedx commented on #304
For reference @tessus, the private key is used to generate the public key which is then configured on the remote system: https://github.com/chef/knife-azure/blob/master/lib/azure/service_management/certificate.rb#L50-L58

[2016-03-04 17:06] #304 closed

[2016-03-04 18:59] tessus commented on #304
@adamedx I think you misunderstood my question.

I know that I can create a public key from a private key, but there's no reason to do that. I have a key pair in my .ssh directory. To connect to a remote machine, the **public** key has to be uploaded to the remote system.
There should be no need for you to touch my private key in any way.

Thus you should be able to specify the public key with thi

[2016-03-05 00:48] adamedx commented on #304
Right, we could just use your public key for just provisioning the remote system, but we also need the private key because after the VM boots up, we create an ssh connection to the remote system and use that to bootstrap. Again, the private key is never sent to the remote system.

Since we need the private key to start the ssh connection, we just ask you to specify that. We could also ask you for

[2016-03-05 00:51] adamedx commented on #304
One other suggestion if you're looking at this from a security standpoint: an even safer way than using ssh for bootstrap is using the `--bootstrap-protocol cloud-api` option. That simply uses the Azure api to inject Chef into the VM rather than sending commands via ssh. For that flow you don't have to specify a private key, and you could enable ssh via a cookbook with a public key rather than thr

[2016-03-05 03:41] sernapallyanurag commented on #309
Its fixed. It was a an endpoint issue. Thanks a lot for response.

[2016-03-05 03:41] #309 closed

[2016-03-06 03:58] tessus commented on #304
Thank you for the info.

I didn't realize the bootstrap part. For some reason I thought this would be either part of the image or done via other means.

Now it makes sense. I just got nervous having to specify a private key without knowing why it was necessary and what was done with the key.

[2016-03-10 10:25] rubeon opened #313 "knife azure server create does not respect --secret-file argument for non-Windows hosts"
### Issue
using `--secret-file /path/to/secret_file` command-line argument does not properly transfer the secret file to servers.

Knife bootstrap via other modes works as expected.

### Workaround
Setting `knife[:secret_file]` in knife.rb works as expected with knife azure plugin.

It might be this:

`./lib/chef/knife/azure_server_create.rb:733:734`

[code]
vs.

`./lib/chef/knife/azure_server_cre

[2016-03-11 11:15] cjohannsen81 opened #315 "knife-azure create server fails with WinRM::WinRMAuthorizationError"
Hi,

I try to create a Windows Instance (classic) but the winrm fails at the end. User and password are okay and should be created/enabled while the instance is created, right?

`chef-repo-2 knife azure server create --azure-service-location "West Europe" --winrm-ssl-verify-mode 'verify_none' --azure-dns-name 'cjohannsen03'
............
Waiting for virtual machine to reach status 'provisioning'...

[2016-03-11 12:30] cjohannsen81 opened #316 "create server does not install azure vm agent"
Hi,

I created two azure VM´s (classic). One manually in the portal, one with knife-azure and the same parameters (imageId etc.) and the manual one has the azure vm agent installed, the knife-azure deployed one not. So remote-access is not possible.

Cheers
Christian

[2016-03-11 13:15] stuartpreston commented on #316
Did you specify the ```--bootstrap-protocol 'cloud-api'``` as directed here: https://github.com/chef/knife-azure#cloud-api-bootstrap-feature ?

[2016-03-11 13:18] stuartpreston commented on #316
Or were you talking about the VM agent itself (the lack of this would mean no endpoints would be opened if I remember correctly)?

[2016-03-14 14:29] cjohannsen81 commented on #316
Hey, I tried both. The msi and the cloud API. Both have no in vm agent installed in the new vm but the manual created one has.

[2016-03-17 12:14] NimishaS commented on #315
Hi @cjohannsen81, are you passing `--winrm-user` and `--winrm-password` in your command? By default `--winrm-user` is `Administrator`, but `--winrm-password` needs to be passed.
I tried the command mentioned below and it worked fine:
[code]

[2016-03-22 09:18] dheerajd-msys commented on #313
Hi @rubeon,

Thanks for the information.
When using --secret-file option, the value is assigned to `config[:encrypted_data_bag_secret_file]`.
Even after assigning value to `config[:secret_file]`  from `config[:encrypted_data_bag_secret_file]`, it wasn't working.
The reason is as follows:-
The long value --secret-file option points to 2 different parameters(one parameter for windows and one for lin

[2016-03-23 07:10] NimishaS commented on #313
@rubeon, the fix has been merged in `master` branch. Please verify.

[2016-03-29 22:51] kpkrishnamoorthy commented on #273
If this information is useful, I've temporarily fixed this by adding a 10-second sleep in <gem>/lib/azure/certificate.rb, in the `Azure::Certificate.create` function. Just before the `@fingerprint` statement.

Since I've not yet been able to successfully use knife-azure version 1.5.2 (due to incorrect XML errors), I made this modification in knife-azure version 1.4.0.

[2016-03-30 00:23] airborne77 commented on #273
thanks for the update KP.

We are still curious about the future of this knife-azure plugin, now that azure has moved to the ARM based model, and the tool only seems to support the ASM (classic) model.

For now, although we would have loved to stick with chef tools & plugins, we have moved to using the Azure Linux CLI to facilitate our Azure infrastructure automation, which is much more stable and

[2016-03-30 05:40] Vasu1105 commented on #273
@airborne77  We already started working on giving support for ARM in knife plugin it will be release soon.

[2016-03-31 06:21] Vasu1105 commented on #316
@cjohannsen81  - Could you please add the details about the command you are trying to do this ?

[2016-04-04 06:34] adamedx commented on #140
For asynchronous requests, try using the `--bootstrap-protocol cloudapi` option or the new `knife azurerm server create` available on the master branch. ARM commands will get around some limitations in the older API with concurrent requests.

[2016-04-04 06:34] #140 closed

[2016-04-19 06:57] NimishaS opened #341 "Creation of AD application and service principal is not automated for ARM commands"
User needs to create AD application and service principal manually right now as specified here https://github.com/chef/knife-azure#arm-mode.

[2016-04-19 06:58] NimishaS commented on #341
@stuartpreston, do you have any library which can help in resolving this issue?

[2016-04-19 07:03] stuartpreston commented on #341
@nimishas I did create a utility that takes AAD credentials and creates applications and performs role assignment. See http://GitHub.com/Pendrica/azure-credentials

[2016-04-19 07:08] NimishaS commented on #341
@stuartpreston , thanks for sharing this :)

[2016-04-20 22:13] shridevops15 opened #342 "Knife-Azure Unable to Create a new VM using my custom vm image -"
I am trying to create a new vm using my custom virtual image. It is creating a instance and finally at the end it displays Server not created.

Please find the below command which I've used.

Command: knife azure server create -N azuredev01 --azure-vm-size Medium --azure-source-image ecint-std-centos67-v01 --azure-service-location 'Central US' --azure-storage-account saclrsdigmv01  --ssh-user admi

[2016-04-20 22:16] shridevops15 commented on #342
I have also tried invoking the parameter network name and subnet name and the outcome is as follows

[root@infcchfwtnd01 chef-repo]#  knife azure server create -N azuredev01 --azure-vm-size Medium --azure-source-image ecint-std-centos67-v01 --azure-service-location 'Central US' --azure-storage-account saclrsdiglcdev01 --azure-network-name nwc-ecint --azure-subnet-name nwc-ecint-dev --ssh-user admi

[2016-04-20 22:20] shridevops15 opened #343 "Knife Azure Creating a new server"
I have tried using the below command to create a new server using my custom image. I have included all the parameters. I have used the DNS Server name  and storage account provided by my systems admin.

[root@infcchfwtnd01 chef-repo]#  knife azure server create --azure-vm-name azuredev06 --azure-subscription-id '42a288f8-3bf2-47a8-9a41-11' --azure-vm-size Medium --azure-source-image ecint-std-cent

[2016-04-25 10:03] dheerajd-msys commented on #341
@stuartpreston , thanks for the link.
This works perfectly for AD accounts. However we want to support Microsoft account users too which may require UI based interactive authentication. We would also like to handle the 2 factor/layer authentication similar to how Xplat-cli or Powershell handles it through Azure login Page.
Let us know if you have any suggestions

[2016-04-28 09:09] stuartpreston commented on #341
I don't have anything specific on Microsoft accounts yet. The purpose of the tool was to avoid all UI and popups etc. where possible.  I have an idea how to do things for non-2FA Microsoft accounts and Federated Accounts (which is another scenario you may need to support). But for 2FA I think we'll need the equivalent of the device logon. It's an awkward area with a big spread of possible scenario

[2016-05-03 12:26] sernapallyanurag opened #350 "Bootstrap process fails with following error after provisioning"
``
 knife azure server create --azure-dns-name '**************' --azure-service-location 'Southeast Asia'        --azure-source-image 'a699494373c04fc0bc8f2bb1389d6106__Windows-Server-2012-R2-20160229-en.us-127GB.vhd' --azure-vm-name '*************' --azure-vm-size 'Large' --winrm-user 'azureuser'         --winrm-password '******' --tcp-endpoints '80,8080,443,9000,8989,5672,3389' ``

I am getting

[2016-05-09 12:58] NimishaS commented on #350
@sernapallyanurag , which version of `knife-azure` are you using?
Please share the complete logs by running command in verbose mode using `-VV` option.

[2016-05-10 04:49] sernapallyanurag commented on #350
I am using knife-azure v 1.4.0 and i have removed require em-winrm. its working fine now.

[2016-05-10 06:56] NimishaS commented on #350
yes @sernapallyanurag , `knife-azure` uses `knife-windows` to bootstrap windows servers. `em-winrm` dependency has been removed now from `knife-windows`, while `knife-azure v 1.4.0` still has reference for `em-winrm`, since it's an old version. That is why you are getting this error.
So removing `require em-winrm` is the right approach to make `knife-azure v 1.4.0` work.

[2016-05-10 07:18] NimishaS commented on #343
@shridevops15 , this looks like duplicate of https://github.com/chef/knife-azure/issues/342.
Closing this one. We'll work on https://github.com/chef/knife-azure/issues/342. Please feel free to re-open if we miss out on anything.

[2016-05-10 07:18] #343 closed

[2016-05-10 09:52] sernapallyanurag commented on #350
Thank you @NimishaS . I will close this issue.

[2016-05-10 09:52] #350 closed

[2016-05-10 13:35] dheerajd-msys commented on #343
@shridevops15,

According to the capture process for Linux VMs, all Linux images must be deprovisioned by running the waagent command with the -deprovision option. Then you can choose "I have run waagent-deprovision on the virtual machine" to indicate that the operating system is prepared to be an image.

I followed the steps and was able to create the VM with created Image.
Please run command `wa

[2016-05-10 13:37] dheerajd-msys commented on #342
@shridevops15,

According to the capture process for Linux VMs, all Linux images must be deprovisioned by running the waagent command with the -deprovision option. Then you can choose "I have run waagent-deprovision on the virtual machine" to indicate that the operating system is prepared to be an image.

I followed the steps and was able to create the VM with created Image.
Please run command `wa

[2016-05-25 16:31] matkam opened #357 "Error creating Ubuntu VM in ARM mode: typeHandlerVersion is invalid"
I'm trying to create a Ubuntu Linux VM in ARM mode with knife azurerm but I get the following error
The value of parameter typeHandlerVersion is invalid. (Code: InvalidParameter)
Any idea what a valid parameter is here?

My knife.rb includes the following options, with sensitive info replaced by 'xxx':
[code]

I'm running the gem (knife-azure-1.6.0.rc.0.gem) from the master branch. Here's the outp

[2016-05-26 09:37] dheerajd-msys commented on #357
@matkam I tried to reproduce the error and get the same error only when I provide invalid version format for `knife[:azure_chef_extension_version]`. ARM API accepts only like `1210.12` as value and not like `1210.*` for this parameter.
Please check what value did you provide.

[2016-05-26 17:27] matkam commented on #357
@dheerajd-msys I was not aware I needed to provide a value for that parameter. Looks like adding ```knife[:azure_chef_extension_version] = '1210.12'``` to my knife.rb file does work around the issue. Is this parameter required? What happens for you when you don't provide it?

Now that the VM is created, how come `knife azurerm` is not bootstrapping the node even when I provide a run_list?

[2016-05-27 04:52] dheerajd-msys commented on #357
@matkam,
In a previous PR, we had fixed an issue about getting latest extension, if no version is passed.
can you verify the following code change is present at your side:- https://github.com/chef/knife-azure/commit/8b6d68621b46f8ddeb2b0d4d45d1521e3e0edae1#diff-88e145c762bee1dec98ce94c1eb8ea76R725
`knife azurerm` command uses cloud-api protocol, so azure chef extension gets installed on the vm and

[2016-05-27 10:26] Vasu1105 commented on #357
@matkam - We found this issue in the latest changes on master branch. We will be making changes so that latest chef extension version will get picked up if user is not passing through this option. Will update you once this change merged in master branch.

Thank you :)

[2016-05-27 17:44] matkam commented on #357
@Vasu1105 Sounds good! Thank you :)
@dheerajd-msys I wasn't aware of cloud-api protocol. That's a nice feature actually.

[2016-05-27 18:19] matkam opened #361 "Error when creating VM in ARM mode and specifying vnet"
I'm trying to create a VM in an existing subnet and getting the following error:
[code]

[2016-05-29 18:44] Vasu1105 commented on #361
@matkam - Thank you. We will be looking into it.

[2016-06-01 22:25] matkam commented on #342
To create the image:
- Run on the VM:
  `sudo waagent -deprovision+user`
  `sudo rm -rf /etc/chef/*`

- Shut down the VM
- "Capture" the VM

[2016-06-08 10:26] NimishaS commented on #341
This issue gets resolved here: https://github.com/chef/knife-azure/pull/359

[2016-06-08 10:26] #341 closed

[2016-06-08 16:55] jjasghar opened #369 "Break up the README."
The main readme has way too much information in it. We need to break it up in specific docs, for instance:

- ARM
- ASM
- Configuration
- etc

Maybe create a `docs/` directory and link off the main README to the specific sections.

[2016-06-09 04:41] Vasu1105 commented on #357
@matkam This issue is resolved in this merge REF #360.

[2016-06-09 04:41] #357 closed

[2016-06-09 05:51] NimishaS commented on #369
:+1: @jjasghar

[2016-06-09 08:35] Vasu1105 commented on #369
@jjasghar  will be working on this.

[2016-06-16 05:03] Vasu1105 commented on #369
@jjasghar  Changes related to this issue is merged. Closing this issue.

[2016-06-16 05:03] #369 closed

[2016-06-16 05:06] Vasu1105 commented on #361
@mattkam Could you please pull the latest changes from the 'master' can check is the issue still exists.

[2016-06-16 05:08] Vasu1105 commented on #342
@shridevops15 are you still facing this issue with the above solutions ?

[2016-06-16 05:10] Vasu1105 commented on #316
@cjohannsen81 - Any updates on this ?

[2016-06-16 05:11] Vasu1105 commented on #315
@cjohannsen81  Any updates ?

[2016-06-16 05:13] Vasu1105 commented on #313
@rubeon Could you please check at your end with latest changes so that we can close this issue.

[2016-06-16 18:25] matkam commented on #361
The storage and public IP address get created, but then I get this error in my deployments log:
```Subnet GatewaySubnet is in use by /subscriptions/xxx/resourceGroups/AzureToAws/providers/Microsoft.Network/virtualNetworkGateways/AzureToAwsGateway/ipConfigurations/default and cannot be deleted. (Code: InUseSubnetCannotBeDeleted)```

[2016-06-16 18:29] matkam commented on #361
@Vasu1105 The storage and public IP address get created, but then I get this error:
[code]

[2016-06-17 05:05] Vasu1105 commented on #361
I tried to reproduce this issue what I did is I created the vnet 'vj-net' and default subnet in it on azure portal. Then I have created one VM using existing vnet and subnet. I ran following command and VM got created successfully.
`$ knife azurerm server create --azure-resource-group-name 'vj-rgp' --azure-vm-name 'vj-vnet-test' --azure-service-location 'westus' --azure-image-os-type 'ubuntu' -x a

[2016-06-17 16:46] rubeon commented on #313
Hi,  I'm not using the plugin any more, so don't wait for me.  If it comes up in the future, I will raise the issue again.

Thanks,
Eric

[2016-06-17 17:40] matkam commented on #361
@Vasu1105 In addition to creating a default subnet like you did, I created a "GatewaySubnet" as per the link below, and I think this is where there is confusion. It seems like knife-azure is trying to delete it?

Here are the instructions I used to create my network on Azure: https://blogs.technet.microsoft.com/canitpro/2016/01/11/step-by-step-connect-your-aws-and-azure-environments-with-a-vpn-tun

[2016-06-20 04:20] #313 closed

[2016-06-20 06:01] Vasu1105 commented on #361
Ok @matkam. We will check what is the root cause of this issue. We are creating the vm using template so we have to check the behavior of above case. We will update you once we have more details on this issue.

[2016-06-20 08:02] Aliasgar16 commented on #361
@matkam I have successfully reproduced the issue using the subnet other than the default subnet and also non-gateway subnet. Will get back to you soon with the fix.

[2016-07-04 10:16] Aliasgar16 commented on #361
@matkam [PR](https://github.com/chef/knife-azure/pull/383) with fix for the above issue.

[2016-07-12 19:02] matkam commented on #361
Just tried the latest from master, and it looks to be working now. Cheers.

[2016-07-12 19:02] #361 closed

[2016-09-16 18:11] HubertJFarnsworth opened #405 "Multiple Azure AADs cause incorrect token to be chosen for authorization"
Azure accounts can have more than one AAD associated with with them.  The "azure login" command adds tokens from each AAD into the Windows Credential store.  This can cause problems when trying to run knife-azure commands if the wrong token is chosen from the token store to use for authorization. There doesn't seem to be any logic when the cmdkey.exe command is run to choose between the tokens (be

[2016-09-20 10:14] NimishaS commented on #405
@HubertJFarnsworth , in case of multiple AADs, we are picking up the latest credential from `Windows Credential Store`.
For fixing the above error, please make sure that you update the `azure_publish_settings_file` or `azure_subscription_id` for the required AAD account in knife.rb file.

[2016-11-03 07:08] NimishaS commented on #405
@HubertJFarnsworth any updates here?

[2016-11-04 15:38] Dalaigh88 opened #409 ""knife azurerm server create" creates node but fails to register it with chef server."
Trying to create a server via knife-azure. Server is created correctly but doesn't seem to bootstrap or to register with chef server. Running "knife bootstrap azurerm"  gives error:

"Creating VirtualMachineExtension....
ERROR: Virtual machine <nodename> already has Chef extension installed on it."

Running "knife bootstrap" with DNS address correctly bootstraps and registers node.

[2016-11-10 19:26] rocksmani opened #410 "knife azure server create, error Node exists"
knife azure server create --azure-dns-name 'abcdef' --azure-vm-name 'abcxyz1' --azure-vm-size 'Small' --azure-storage-account 'portalvhdschef' --bootstrap-protocol 'cloud-api' --azure-source-image 'a699494373c04fc0bc8f2bb1389d6106__Windows-Server-2012-R2-20161012-en.us-127GB.vhd' --azure-service-location 'Southeast Asia' --winrm-user azureuser --winrm-password 'myPassword123' --tcp-endpoints 80,33

[2016-11-10 20:33] mhugley opened #411 "Knife azurerm server create (subnet in use)"
I am trying to add a vm to a vnet-subnet that has other servers. I keep getting this error.

ERROR: {"status":"Failed","error":{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"BadRequest","message":"{\r\n  \"error\": {\r\n    \"code\": \

[2016-11-11 11:30] Vasu1105 commented on #410
@rocksmani could you please post the error log with -VV option

[2016-11-11 11:33] Vasu1105 commented on #411
@mhugley  what version of knife-azure you are using  ?

[2016-11-11 14:15] mhugley commented on #411
I am also using 1.6.0. It keeps happening to me. I change the computer name and run it again and it did the same. I also tried from another computer and the same happened.

[2016-11-14 07:21] Vasu1105 commented on #411
@mhugley  Also add your detailed log using -VV option plus details about your  vnet and subnet for e.g. how many subnet that vnet has etc.

[2016-11-14 07:23] Vasu1105 commented on #409
Please add details about how you are creating VM is it from portal or by using knife azurerm server create command. Also add detailed logs using -VV option.

[2016-11-14 12:05] #248 closed

[2016-11-14 12:06] Vasu1105 commented on #248
Fixed here #268

[2016-11-14 12:13] Vasu1105 commented on #285
@spbreed we are not supporting passing template currently since using template you can create other things as mentioned by @adamedx.  Hence we are not supporting this currently.

[2016-11-14 12:13] #285 closed

[2016-11-14 12:38] #235 closed

[2016-11-14 12:39] Vasu1105 commented on #235
@acornies if you come across this issue again feel free to reopen it

[2016-11-14 12:51] Vasu1105 commented on #315
@cjohannsen81  reopen if issue is still exist

[2016-11-14 12:51] #315 closed

[2016-11-14 12:53] Vasu1105 commented on #342
@shridevops15  reopen if you are still facing issue with given solution by @matkam

[2016-11-14 12:53] #342 closed

[2016-11-14 13:04] Vasu1105 commented on #176
@btm your inputs required here.

[2016-11-14 13:17] Vasu1105 commented on #286
Fixed here https://github.com/chef/knife-azure/blob/fe3df28af9c32b490886a2aa0cfbdfaab60d3b11/lib/azure/service_management/rest.rb

[2016-11-14 13:17] #286 closed

[2016-11-14 13:42] btm commented on #176
I'm not familiar enough with the Azure terminology here, but it sounds like we use [create virtual machine deployment](https://msdn.microsoft.com/en-us/library/jj157194.aspx) which creates a deployment and then a virtual machine inside it of, whereas the requested functionality would just create a deployment. Is it possible to create a virtual machine and add it to an existing deployment? It looks

[2016-11-14 15:09] smurawski commented on #212
Not that I'm aware of.  You are welcome to try, but I believe that while the WAP API's are close to the Windows Azure Service Management APIs, they differ a bit.

Given that WAP is pretty much in sustained engineering and there isn't any new investment in the Service Management API (in favor of the forthcoming AzureStack and Azure RM APIs), I don't think there is much to be gained in building in s

[2016-11-14 15:43] btm commented on #212
@smurawski that makes sense. thanks.

@cstewart87 I'm going to close this. If you're using Windows Azure Pack and you find that knife-azure works or almost works, we'd accept patches to fix minor issues. But I don't see us writing any major features for Windows Azure Pack given the newer products in the space that appear to have wider acceptance.

[2016-11-14 15:43] #212 closed

[2016-11-14 16:00] mhugley commented on #411
Thanks for getting back with me. I think there is something wrong with my vnet. I was able to create a new one with a subnet and it all worked the way it should.

Whenever I run the command it states that its not meant for production servers because its still in alpha. Is this gonna change or is there more testing that needs to take place?

[2016-11-15 08:41] Vasu1105 commented on #411
@mhugley  knife-azure currently supports only basic ARM functionality and that's why the message is shown "its not meant for production servers because its still in alpha". For complex scenarios ASM commands should be used.

I am closing this issue. Please re-open if you face this issue.

[2016-11-15 08:41] #411 closed

[2016-11-15 10:15] Vasu1105 commented on #236
@jackting73  re-open if you are still facing this issue.

[2016-11-15 10:15] #236 closed

[2016-11-15 11:37] Vasu1105 commented on #316
@cjohannsen81  If I am getting it correctly you are not able to access the vm remotely. I verified that 'ProvisionGuestAgent' is set to true by knife-azure as mentioned [here](https://msdn.microsoft.com/en-us/library/azure/jj157194.aspx) in docs. Use --tcp-endpoints option to open ssh or rdp port. And let me know that solves your issue.

[2016-11-15 11:51] Vasu1105 commented on #316
@cjohannsen81 closing this for now. If you face the issue even using --tcp-endpoints option as mentioned above you can re-open this issue and provide us the details of command that you are trying

[2016-11-15 11:51] #316 closed

[2016-11-15 15:44] btm commented on #259
@NimishaS could we try creating 6 vms and then deleting them, and make sure they're long names like,

[code]

If that doesn't work we should close this as unreproducible given how long it has say.

[2016-11-15 15:48] btm commented on #273
@NimishaS is there a check we could add to Azure::Certificate#add_certificate after the Azure API call that we could use to query that the certificate is readable and loop a few times until it is?

[2016-11-15 15:50] btm commented on #258
Is there any data that comes back from the azure API besides name that would be unique? Any sort of GUID or other unique ID that we might be able to get from the node data via search?

[2016-11-16 05:40] Vasu1105 commented on #258
@btm we need to find out this.

[2016-11-16 07:07] Vasu1105 commented on #259
@vinyar & @btm we have verified the vm with long names. I created 6 vm's with long names and able to delete it successfully.

[2016-11-16 07:11] Vasu1105 commented on #259
@vinyar closing this issue as its not reproducible at our end.

[2016-11-16 07:11] #259 closed

[2016-11-16 11:23] NimishaS commented on #405
@HubertJFarnsworth, can you please share the steps to reproduce this issue? I can see only one scenario where the error that you encountered can occur:
[code]

So updating the `subscription` in `knife.rb` should fix this.

`cmdkey.exe` is run to fetch the list of credentials. We filter out the credentials belonging to `AzureXplatCli` from them. If case of multiple azure logins, there will be multi

[2016-11-17 07:26] Vasu1105 commented on #273
@btm yes we can add this after adding certificate and check if certificate available and then proceed for VM creation call.  We are not able to reproduce the issue at our end but this fix can help in fixing the issue.

[2016-11-18 09:30] NimishaS commented on #405
Closing this issue as we aren't able to reproduce it. @HubertJFarnsworth , please re-open if you are still facing it.

[2016-11-18 09:30] #405 closed

[2016-11-23 15:23] btm commented on #273
A check for the certificate was added in https://github.com/chef/knife-azure/pull/413 and will be in the next release.

[2016-11-23 15:23] #273 closed

[2016-12-30 09:08] dheerajd-msys commented on #258
1. When we provision VM with `--node-name` option along with `--azure-vm-name` then node gets registered with the provided node name.
So while purging it is necessary to provide `--node-name` to delete the node/client from server else it tries to locate node with `--azure-vm-name` and doesn't find.

2. If we provide only `--azure-vm-name` and create the server then node gets registered with the vm

[2016-12-30 09:14] NimishaS commented on #258
It doesn't seem possible to find the `--node-name` based on `--azure-vm-name`. We are currently showing warning in case the node is not found: https://github.com/chef/knife-azure/pull/418
Closing this issue.

[2016-12-30 09:14] #258 closed

[2017-02-17 06:20] NimishaS commented on #409
@Dalaigh88 , any updates on this?

[2017-02-17 06:21] NimishaS commented on #410
@rocksmani , any updates here?

[2017-02-17 06:27] rocksmani commented on #410
Yes it is.. Fixed 😉

Regards
Manish

Sent from my Windows Phone
________________________________
From: Nimisha Sharad<mailto:notifications@github.com>
Sent: ‎17-‎02-‎2017 11:51
To: chef/knife-azure<mailto:knife-azure@noreply.github.com>
Cc: rocksmani<mailto:manish.choudhry@outlook.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [chef/knife-azure] knife azure server create, error Node

[2017-02-17 06:28] NimishaS commented on #410
Thanks @rocksmani

[2017-02-17 06:28] #410 closed

[2017-02-17 18:54] holmesb opened #421 "uninitialized constant Chef::Knife::AzurermBase (NameError)"
Trying to run knife azure for the first time.  It errors:

[code]

[2017-02-20 18:20] holmesb commented on #421
Seems I missed these instructions (linked from readme.md) to connect in ARM mode:

But still doesn't work.  Should the above be pasted in literally?  Or should you replace eg knife[:azure_tenant_id] with knife[:<AZURE_TENANT_ID>] or should this be:
knife[:azure_tenant_id] = "<AZURE_TENANT_ID>"
?
Isn't clear.

[2017-02-23 18:12] inscrutabledude opened #422 "empty result after setup"
Hi All,

I have a feeling this isn't the right place to put this, but I cannot find any other online forum to discuss it.

I've followed several install/setup guides for knife-azure.  When I run knife azure image list, I get results.

Anything else, including "knife azure server list" returns an empty result.  There ARE servers in my subscription, yet nothing is seen.  If someone could point me in

[2017-02-28 07:35] NimishaS commented on #422
@inscrutabledude , I tried running `knife azure server list` command and it listed all the VMs successfully. I think there may be a difference in the region in which your VMs are created and the region which knife-azure is using. By default, knife-azure uses `West-US`.
You can mention region in your `knife.rb` file like this:
[code]

[2017-02-28 12:27] inscrutabledude commented on #422
Hi Nimisha,

Just a thought here; for a command that per the docs pulls ALL available instances, having a default that pulls only part makes no sense.  How would you run the command if you wanted ALL?  Also, that default isn't mentioned in any docs that I had access to.

You should seriously consider making the default be actually ALL.

Thanks,

Bruce

[2017-02-28 12:49] NimishaS commented on #422
@inscrutabledude ,  AWS portal also shows servers and all other entities for the selected region only. Some entities (e.g. EC2 SSH keypair) of one region are not accessible by the other regions. So it makes sense to show servers for a particular region. However I'll still discuss the use-case that you have suggested with the Chef team.

We'll definitely update the doc for the default region. That'

[2017-03-02 16:48] gmmeyer opened #423 "Knife Azure does not work with berkshelf"
Knife Azure requires, though the other azure gems, ms_rest_azure 0.2.3, which (for whatever reason) depends on json 1.7.

Json 1.7 was released in 2013 and does not even compile on my Macbook. This means that every time I try to run it with berkshelf, I get the following error:

[code]

Can the relevant azure gems be updated easily? If so, we should do it.

[2017-03-03 19:52] inscrutabledude commented on #422
Hi Nimisha,

I finally got to try your suggestion. It makes no difference at all.  No matter what I put in as a value, only one VM shows up.

Do you have any other suggestions?

Bruce

[2017-03-06 09:41] NimishaS commented on #422
@inscrutabledude , this is how my knife.rb looks:
[code]

`knife azure server list` works fine with this configuration. Can you please verify if you are giving the `publishsettings file` or `subscription_id` for the correct account?

[2017-03-22 07:06] NimishaS commented on #409
@Dalaigh88 , one more possibility can be that the recipe you are passing in the runlist is not working successfully.
I am closing this issue as we are not able to reproduce it and there isn't any response on this issue for a long time.

[2017-03-22 07:06] #409 closed

[2017-03-23 12:22] dheerajd-msys commented on #409
I have also verified and unable to reproduce the issue. Node registered successfully on Chef-server and all parameters are being set viz. FQDN, IP Address, and Platform etc. There could be possibility that runlist you are passing is faulty.

[2017-03-24 11:34] sernapallyanurag opened #431 "Error Deploying multiple VM's in Same cloud Service"
``
FATAL: Unable to create role:ConflictError : The specified deployment slot Production is occupied.
ERROR: Failed to create the server -- exception being rescued: exception class/object expected
``
I have checked for the error and it says to change role of one of the VM's to staging. How can we do that using knife.

[2017-03-31 15:29] NimishaS commented on #431
@sernapallyanurag , Are you using ASM command `knife ec2 server create`? Can you please share how are you creating multiple VMs?

[2017-04-04 06:29] sernapallyanurag commented on #431
Yes I am using ASM. I am running ``knife azure server create`` in multiple threads simultaneously to create VM's in parallel under same cloud service name which I found out to be a constraint in ASM. Please suggest a workaround if one exists or we can close the issue

[2017-04-04 06:53] NimishaS commented on #431
@sernapallyanurag , this kind of issue was reported earlier too. Old ASM API's have some limitation for concurrent requests. A workaround for this would be to use `knife azurerm server create` command which utilizes the ARM APIs.

[2017-04-05 02:49] sernapallyanurag commented on #431
Thank you for the response @NimishaS . I am closing this issue.

[2017-04-05 02:49] #431 closed

[2017-04-08 16:27] predatorian3 commented on #421
@holmesb I think you'd have to install the Azure CLI program in order to get that information, because I don't know where to look in the UI as well to get the information. A lot could be cleaned up and clarified with actual examples and maybe one of those fancy GIF's that shows where to find the information.

I'm running ChefDK and using the knife-azure 1.7.0 RubyGem.

[code]
Same error as you. It

[2017-04-21 21:06] SimonKaluza opened #432 "Changes in Azure Xplat CLI broke the knife-azure's login method"
It seems azure-cli no longer uses the string `"AzureXplatCli"` in `cmdkey` to store relevant Azure login credentials, so the credential check used in knife-azure at https://github.com/chef/knife-azure/blob/eb8fe934fe38c28bbaadd91941cd9c6dcaad17b7/lib/chef/knife/azurerm_base.rb#L186
fails even if a user has successfully used the xplat azure-cli to login to Azure.

[2017-04-26 10:03] NimishaS commented on #432
@SimonKaluza , the recent versions of xplat-cli uses `/.azure/accessTokens.json` file to store the credentials by default. We are checking the version of xplat-cli first and based on the using the `credential manager` or `/.azure/accessTokens.json`. Please check the If-Else block: https://github.com/chef/knife-azure/blob/eb8fe934fe38c28bbaadd91941cd9c6dcaad17b7/lib/chef/knife/azurerm_base.rb#L184.

[2017-05-04 12:19] NimishaS commented on #432
@SimonKaluza , any updates here? Do you see some kind of failure?

[2017-05-04 17:45] SimonKaluza commented on #432
@NimishaS sorry for the delay.

This issue seems to be fixed in the commit you linked, I was running the latest released version (1.7.0), but not HEAD.

[2017-05-16 03:20] toolboc opened #434 "Auto-Generated Storage Account Name can produce an Exception"
![image](https://cloud.githubusercontent.com/assets/2018336/26088391/9dc79878-39bc-11e7-909c-10f52b9948d5.png)

[2017-05-16 03:22] toolboc commented on #434
Proposal: The randomly generated string should be appended to VM name rather than appending the VM name to a randomly generated string.

It should be noted that this error occurred on in 3 out 9 attempts to create and deploy a VM using `knife azurerm`

[2017-05-16 03:33] toolboc opened #435 "'--node-ssl-verify-mode none' does not write appropriate value to resulting client.rb"
using `--node-ssl-verify-mode none` referred to in https://github.com/chef/knife-azure/blob/master/docs/ARM.md  does not create an entry of `ssl_verify_mode :verify_none` in the resulting client.rb as should be expected.

![image](https://cloud.githubusercontent.com/assets/2018336/26088705/45b076bc-39be-11e7-877b-e50ccd783e37.png)

![image](https://cloud.githubusercontent.com/assets/2018336/260887

[2017-05-17 10:56] #432 closed

[2017-05-17 10:58] NimishaS commented on #422
@inscrutabledude, any updates here?

[2017-05-18 10:24] piyushawasthi commented on #434
@toolboc : We have fix this issue in https://github.com/chef/knife-azure/issues/436. For now the workaround is to pass node name ( -N 'node_name' ) in your `azurerm server create` command.

[2017-05-18 22:39] piyushawasthi commented on #435
@toolboc : We have fix this issue in https://github.com/chef/knife-azure/pull/437

[2017-07-15 19:13] mangesh1983 commented on #409
Hi Team,

I am getting similar kind of issue, VM deployment success but running was not executed.
I also node not register in chef , show unknown status.

Please find the attached file will details ,please let me know you suggestion on this where I went wrong.
I have check recipes are working , if I manually bootstrap Node and run .
[Chef_bootstarp issue for azureVM.docx](https://github.com/chef/k

[2017-07-16 18:15] enrigh0338 opened #439 "node_name in client.rb always has a '0' appended resulting in auth error"
when running the command:

knife azurerm server create ... -N "myNodeName" ...

knife registers 'myNodeName' with the Chef server but on the node the client.rb file shows the node name as 'myNodeName0' (note the trailing '0'). This means the node cannot authenticate with the Chef server. If i rdp to the node, delete the added '0' from the node name and run chef-client manually everything is fine.

[2017-07-17 13:53] enrigh0338 opened #440 "knife-azure does not work with latest Chefdk"
knife-azure does not work with latest chefdk (2.0.28). gem collision error

![image](https://user-images.githubusercontent.com/30216910/28271120-bbdac57a-6ad5-11e7-8c38-8137e5ee364b.png)

[2017-07-18 01:24] rodriguesalex opened #441 ""knife azurerm server create" complains that a non-existent node exists"
Chef Development Kit Version: 1.5.0
chef-client version: 12.21.2

When using "knife azurerm server create", I am presented with the following message even though the node does not exist and has never existed:
"Node  exists, overwrite it? (Y/N)"

If I answer "Y", the following error is thrown
ERROR: 405 "Method Not Allowed"
ERROR: Something went wrong. Please use -VV option for more details.

An ex

[2017-07-18 06:49] rahulkumardbit commented on #440
Hi,
I had same issue with latest version when installing on windows. There is some issue with ruby 2.4. So I installed v1.5.0 with 2.3.0 which is working fine.

[2017-07-18 06:58] rahulkumardbit opened #442 "Unable to launch VM using azurerm"
I have moved from ASM to ARM and after required configuration, when I am trying to launch a VM I am getting this issue.

Command:
``knife azurerm server create --azure-resource-group-name 'testrg1' --azure-vm-name 'devopsvm' --azure-service-location 'eastus' --azure-image-reference-publisher 'OpenLogic' --azure-image-reference-offer 'CentOS' azure-image-reference-sku '7.1' --azure-image-reference-

[2017-07-18 11:27] rahulkumardbit commented on #442
It was an authentication Issue.

[2017-07-18 11:27] #442 closed

[2017-07-18 13:51] enrigh0338 commented on #440
I did the same

[2017-07-18 22:00] gazataeon commented on #440
same here:

:/opscode/chefdk/embedded/lib/ruby/2.4.0/rubygems/specification.rb:2291:in `raise_if_conflicts': Unable to activate knife-azure-1.7.0, because listen-3.1.5 conflicts with listen (= 3.0.6) (Gem::ConflictError)

[2017-07-20 16:45] enrigh0338 commented on #439
is anyone else experiencing this? I can't be the only one.

[2017-07-21 09:05] gazataeon commented on #441
This is really odd. I seem to be getting this recently now too. I physically can't deploy any Azure VMs this way. I can't say for sure but it seems to be since the DK 2.0 update, but a downgrade doesn't seem to fix it either.
Using the hosted Chef manage platform.

Node  exists, overwrite it? (Y/N) y

DEBUG: Chef::HTTP calling Chef::HTTP::ValidateContentLength#handle_response
DEBUG: Content-Length

[2017-07-24 13:19] Ranjith9 opened #446 "Can not create vms in required availability set (ARM)"
Trying to create a VM in a required Availability Set and facing following errors.

1) ERROR: Addition of a VM with managed disks to non-managed Availability Set or addition of a VM with blob based disks to managed Availability Set is not supported. Please create an Availability Set with 'Aligned' SKU in order to add a VM with managed disks to it.

2) ERROR: Could not find member 'sku' on object of

[2017-07-24 15:06] btm commented on #440
Fix is being worked on here: https://github.com/chef/knife-azure/pull/445

[2017-07-24 16:08] enrigh0338 commented on #441
as a workaround you can give the node_name specifically using the -N flag. What seems to be happening is Chef finds a node named "" (empty string) and thinks it's actually a node or at least it errors like it is.

[2017-07-25 07:12] Ranjith9 commented on #421
go to the file azurerm_server_delete.rb
replace the required file "require File.expand_path('../azure_base', __FILE__)" with the following

"require File.expand_path('../azurerm_base', __FILE__)"

[2017-07-25 09:21] NimishaS commented on #409
Hi @mangesh1983 , your issue is being worked on.
This issue is occurring as chef-client is taking more than 5 minutes to download and install, which is resulting into extension timeout. We are looking at why the MSI is taking more time now. Previously it used to take 2-3 minutes.

[2017-07-25 09:53] #435 closed

[2017-07-25 10:10] mangesh1983 commented on #409
Hi Nimisha,

Thanks for looking into it,

Just to update you issue has been resolved now, I found validation key
parameter is need to mention in knife.rb file for azure environment  (if we
are using knife tool) to install chef client and register to Chef server,
however validation authentication method is old for register node into chef
server but is required for azure.

Thanks
Mangesh kharade

On

[2017-07-25 10:26] NimishaS commented on #409
Thanks for update @mangesh1983 . Yes `knife azurerm` commands require `validation_key` as it uses the `azure-chef-extension` for bootstrapping the node and `azure-chef-extension` needs `validation_key`.

[2017-07-25 10:34] NimishaS commented on #409
@mangesh1983 , can you please confirm if you have created an issue with Chef with title `Need help to deploy VM in Microsoft Azure using chef-automation`?

[2017-07-25 10:54] mangesh1983 commented on #409
Yes right, I did, one more issue I observed  knife azurerm commands to work
with ChefDK 13.0 or latest version, It is only work with chefDk 1.5 or
lower version.

I think need to do some modification in knife azurerm plugin for this
reason I keep that ticket open, if need you can close that ticket.

Thanks
Mangesh kharade

On 25 July 2017 at 16:04, Nimisha Sharad <notifications@github.com> wrote:

[2017-07-25 10:54] mangesh1983 commented on #409
Yes right, I did, one more issue I observed  knife azurerm commands are not
working with ChefDK 13.0 or latest version, It is only work with chefDk 1.5
or lower version.

I think need to do some modification in knife azurerm plugin for this
reason I keep that ticket open, if need you can close that ticket.

Thanks

On 25 July 2017 at 16:23, Mangesh Kharade@gmail.com <
mangesh.kharade@gmail.com> wr

[2017-07-25 10:58] NimishaS commented on #409
The latest `chef-dk` related issue is being addressed here: https://github.com/chef/knife-azure/pull/445

[2017-07-26 14:27] NAshwini commented on #441
Hi @rodriguesalex,

I tried to reproduce the issue with latest gems `knife-azure (1.7.0)`, & with various chefdk vesion such as
[code]
and
[code]
Also tried with `chef-client version 13.2.20`.

-- But I am unable to reproduce this issue. For me the below commands of windows & ubuntu vm worked successfully.
**For Ubuntu**:
[code]
**For Windows**:
[code]

-- It would be helpful if you can share all

[2017-07-27 14:58] rahulkumardbit opened #448 "Knife azure server create issue after upgrading chefdk version"
I have recently upgraded my Chefdk version from 0.10.0 to 1.5.0 and since then I am getting this error
``
....Waiting for virtual machine to reach status 'provisioning'....ERROR: Failed to open TCP connection to management.cor
e.windows.net:443 (A connection attempt failed because the connected party did not properly respond after a period of ti
me, or established connection failed because connect

[2017-08-01 13:48] NAshwini commented on #441
Hi @rodriguesalex,
Please share your "knife azurerm server create" command and knife.rb file.

[2017-08-03 06:06] Ranjith9 opened #449 "Bootstrapping in Azurerm in not happenning fully."
I was trying to create VMs assigning roles in command 'knife azurerm server create'. The template is able to download Chef-client but the roles are not affecting the VM. I tried to ssh into the newly created VM and run Chef-client over there. It gives me '401 Unauthorized' error.

[2017-08-03 06:09] NimishaS commented on #449
@Ranjith9 , please share the command that you are trying and the logs using -VV option.

[2017-08-03 06:38] Ranjith9 commented on #449
@NimishaS , please find the command below, which I'm trying to execute :

"knife azurerm server create --azure-resource-group-name 'Ranjith' -N 'test' --azure-service-location 'CentralIndia' --azure-storage-account 'ranjithstorage' --azure-storage-account-type 'Standard_LRS' --azure-vnet-name vnet_1  --azure-vnet-subnet-name subnet_1  --azure-vm-size 'Small' --azure-image-reference-publisher 'Cano

[2017-08-03 07:44] Ranjith9 commented on #449
Hi,
I found the bug and now its working fine.
In deployment template the condition for chef_node_name is
"[concat(parameters('chef_node_name'),copyIndex())]"  which is for server_count >1
If another condition put there "[concat(parameters('chef_node_name'))]" for server_count =1
It works.

Another issue is if server_count > 1, only one node is creating.

[2017-08-03 09:16] harikesh-kolekar commented on #449
This has been fixed in PR: https://github.com/chef/knife-azure/pull/447

[2017-08-03 14:02] harikesh-kolekar commented on #448
@rahulkumardbit , Can't reproduce the issue I have tried by the following command
[code]
Chefdk version: 1.5.0
`Can you please share log with -VV option?`

[2017-08-04 12:09] piyushawasthi commented on #446
@Ranjith9 - Currently `availability set` option only applicable with ASM also `availability set` limit is 2-5. I have verified with following command and it create VM with availability set successfully.

[code]

Please refer and compare with your command and let me know in case of any concerns.

[2017-08-07 13:38] NimishaS commented on #446
@Ranjith9 , can you please share the steps that you are following to add `availability set` in ARM?

[2017-08-14 10:20] Nikhil424 opened #450 "Servers that are created using plugin is not getting registered to my chef-server"
Here If I create servers is azure using 'knife azurerm' plugin, I can see server is getting created but not getting attached to my chef setup. Still I can list the servers using plugin 'knife azurerm server list' that are created in azure.
Before this was working as it was registering the new node/client to my chef-master now its not doing it.

1) The below pasted are the output which I had got ea

[2017-08-14 15:06] Ranjith9 commented on #450
Even I'm facing the same issue.... first i thought its a port issue. I opened all ports of my Chef-server but still Node and Client are not registering with the Chef-server.

Registering the node and client using **knife-azure plugins** will happen in only opscode servers.........??

[2017-08-14 15:19] Ranjith9 commented on #446
I was trying to add VMs to an existing availability set. I added availability set property to "Microsoft.Compute/virtualMachines"

"availabilitySet"=> ({
                  "id"=> "[resourceId('Microsoft.Compute/availabilitySets', variables('availabilitySetName'))]"
 } if  params[:azure_availability_set] != 'null'),

in server create i added availability set to options and default value is null.

I

[2017-08-15 09:12] Nikhil424 commented on #450
When I use opscode server node is getting registered, the same doesn't work if I use my Chef-Server.

[2017-08-16 08:05] NimishaS opened #451 "Add `availability set` option in knife-azure ARM command"
Users should be able to specify the `availability set` while VM creation.

w.r.t. https://github.com/chef/knife-azure/issues/446

[2017-08-16 08:07] NimishaS commented on #446
@Ranjith9 , as @piyushawasthi suggested that currently knife-azure ARM command doesn't support `availability set` option. This is a new feature. I have created https://github.com/chef/knife-azure/issues/451 and closing this one to avoid confusion due to the description of the card.

[2017-08-16 08:07] #446 closed

[2017-08-21 07:01] NimishaS commented on #441
@rodriguesalex , any updates on this?

[2017-08-22 20:00] SimonKaluza opened #454 "Running `azurerm server create` with Chef Environment argument does not correctly assign environment to the created node"
Using command-line arguments `-E`, `--environment`, `-r`, or `--run-list` seems to have no effect on the newly provisioned node when using these with the `azurerm server create` command.  No matter what gets passed in, the new node gets provisioned successfully as a client of the chef-server but has a default environment of `_default` and an empty run list until manually set through further Chef c

[2017-08-25 18:18] SimonKaluza opened #455 "Master is broken for any azurerm server create operations that involve virtual networks"
The Azure gem upgrades included in commit https://github.com/chef/knife-azure/commit/c9006dc0eb0975accfab2a3ca41041b11d83b685 broke  `azurerm server create` operations that include existing virtual networks by upgrading to `v0.9.0` of the  `azure_mgmt_network` without making the necessary adjustments to vnet_config.rb.

Most of the methods in https://github.com/chef/knife-azure/blob/c9006dc0eb0975

[2017-08-29 12:13] #451 closed

[2017-08-29 13:56] dheerajd-msys commented on #454
@SimonKaluza I have reproduced issue with above commands but found that only `Chef environment` is not being set. It is `_default` instead of `development_environment`. `Run list` is same as we provide in command.

We will work on to fix for `environment`

[2017-08-29 14:10] SimonKaluza commented on #454
@dheerajd-msys yes I see the Run List being set on my end now too when I upgraded to version 1.7 of the gem, my mistake!  Looking forward to the environment fix  👍

[2017-09-01 10:43] NAshwini commented on #450
Hi @Nikhil424,
I am able to register azure vm on hosted as well as standalone server with below command
``` bundle exec knife azurerm server create  --azure-resource-group-name AshResourceGrpName  --azure-vm-name ash-win --azure-service-location 'westus'  --azure-image-os-type windows  -x azure -P azure@123456 -r "recipe[test_cbk]" -c D:\chef-repo_standalone_azure\.chef\knife.rb -VV ```

-- For st

[2017-09-01 23:48] binamov opened #458 "`--delete-resource-group` works, but exits as failed"
Using a build from master:

[code]

[2017-09-04 10:29] dheerajd-msys commented on #458
Hi @binamov,
I have reproduced issue and fixed in https://github.com/chef/knife-azure/pull/459
Thanks.

[2017-09-06 13:33] #458 closed

[2017-09-06 13:37] #454 closed

[2017-09-11 07:20] NAshwini commented on #450
@Nikhil424: any updates ?

[2017-09-20 14:49] Babu2000 commented on #440
Still issues is reproducible with latest chefdk and knife-azure 1.7.0. Any updates on this issue.

[2017-09-20 20:09] Babu2000 opened #461 "knife-azure does not work with latest chefdk (2.3.1). gem collision error"
C:/opscode/chefdk/embedded/lib/ruby/2.4.0/rubygems/specification.rb:2293:in `raise_if_conflicts': Unable to activate knife-azure-1.7.0, because listen-3.1.5 conflicts with listen (= 3.0.6) (Gem::ConflictError)
        from C:/opscode/chefdk/embedded/lib/ruby/2.4.0/rubygems/specification.rb:1413:in `activate'
        from C:/opscode/chefdk/embedded/lib/ruby/2.4.0/rubygems.rb:220:in `rescue in try_a

[2017-09-20 20:21] Babu2000 commented on #450
@Ashwini, knife-azure(1.7.0) does not work with latest chefdk (2.3.1). knife command is giving gem collision error. Could you please let me know which knife-azure version is compatible with chefdk (2.3.1)? or let me working version compatibles.

[2017-09-21 06:57] #455 closed

[2017-09-21 07:58] NimishaS commented on #461
@Babu2000 , this issue has been resolved but `knife-azure` isn't released yet. We'll be releasing it shortly.
I am closing this issue since it's a duplicate of https://github.com/chef/knife-azure/issues/440.

[2017-09-21 07:58] #461 closed

[2017-09-21 08:02] NAshwini commented on #450
@Babu2000, Please refer solution to your question #461

[2017-09-28 12:49] NimishaS commented on #449
Fixed in `knife-azure 1.8.0`.

[2017-09-28 12:49] #449 closed

[2017-09-28 12:50] NimishaS commented on #448
Fixed in `knife-azure 1.8.0`.

[2017-09-28 12:50] #448 closed

[2017-09-28 12:50] NimishaS commented on #440
Fixed in `knife-azure 1.8.0`.

[2017-09-28 12:50] #440 closed

[2017-09-28 12:51] NimishaS commented on #439
Fixed in `knife-azure 1.8.0`.

[2017-09-28 12:51] #439 closed

[2017-09-28 12:51] NimishaS commented on #423
Fixed in `knife-azure 1.8.0`.

[2017-09-28 12:51] #423 closed

[2017-09-28 12:57] NimishaS commented on #450
Sorry we weren't able to reproduce your issue. If you're still experiencing this issue please provide additional information and we'll be happy to help again.

[2017-09-28 12:57] #450 closed

[2017-09-28 12:58] NimishaS commented on #441
Sorry we weren't able to reproduce your issue. If you're still experiencing this issue please provide additional information and we'll be happy to help again.
Please check with the latest `knife-azure 1.8.0`.

[2017-09-28 12:59] NimishaS commented on #422
Sorry we weren't able to reproduce your issue. If you're still experiencing this issue please provide additional information and we'll be happy to help again.

[2017-09-28 12:59] #422 closed

[2017-09-28 13:02] NimishaS commented on #421
@holmesb , Please refer the configuration section of ARM: https://github.com/chef/knife-azure#configuration

If you're still experiencing this issue please provide additional information and we'll be happy to help again.

[2017-09-28 13:02] #421 closed

[2017-12-28 12:09] naveenkt59 opened #465 "Unable to execute chef cookbooks in azure RM VM"
I am trying to create azure RM vm using the knife commands given here https://github.com/chef/knife-azure/blob/master/docs/ARM.md. When providing the chef cookbooks in the command,the VM is created but chef cookbooks are not getting executed and there is no error getting displayed as well..it just shows "Creating virtual machine" but after few minutes, process gets over .The node is getting bootst

[2018-02-20 13:43] dheerajd-msys commented on #465
@naveenkt59, Thanks for pointing this issue. I have verified it too from my side and issue is reproduced.
I've used below command to reproduce the issue:
[code]
We will dig more into it and get back to you.

[2018-03-01 11:26] savishy opened #466 "knife azurerm command returns "azure: not recognized as an internal or external command""
I have been breaking my head over this for a day now and could not understand what's going wrong.

`knife azurerm server create` , with correct options as in your documentation, returns:

[code]

The most I can see is that it seems to be trying to use the `azure` command (legacy?) instead of the newer `az` command, that comes from the newer Azure CLI.

* Knife Azure Version: 1.8.0
* OS: Windows 20

[2018-03-01 11:34] Vasu1105 commented on #466
@savishy Could you please post the command with all options that you are using it will be easy for us to debug

[2018-03-06 05:53] savishy commented on #466
The error is reproduced even without any options, but with a Knife.rb present in the working directory.

Here's my knife.rb

[code]

With this, I now run `knife azurerm server create` without any options. As you can see from output below, it is trying to run `azure -v` which is not a command from Azure CLI 2.0.

[code]

[2018-03-11 09:32] vishagilityroots commented on #466
Hello, any updates or responses to this?
We are trying to use Knife at our organization as part of a "Chef-only" effort to provision infrastructure. I am aware I can use workarounds for this issue (such as using plain vanilla Azure CLI to perform the create action, for example) - but the point is I'd like some confirmation of this issue please, and when/if it's going to be fixed. Thank you!

[2018-03-12 13:01] dheerajd-msys commented on #465
@naveenkt59, Figured out the root cause and working on to fix it. For time being you can use `-E _default`  along with your command.
Example:
[code]
Thanks.

[2018-03-13 13:36] piyushawasthi commented on #466
Hi @savishy , @vishagilityroots - This issue is fixed in PR: https://github.com/chef/knife-azure/pull/467.

[2018-03-15 11:01] naveenkt59 commented on #465
Sure ,I will. Thanks

[2018-03-27 19:28] RickFlist commented on #441
Hi folks,

I am able to repro this issue. I am using whatever the latest version of the gem and Chef DK since I just set this up a couple days ago (I don't know how to make it echo version numbers).

I get "Method Not Allowed" when I execute the following Knife command:
`knife azure server create --azure-dns-name 'mrsrvr04' --azure-vm-name 'MISRVR04' --azure-vm-size 'Small' --azure-storage-account

[2018-03-28 06:56] piyushawasthi commented on #466
Hi @savishy, We have added Azure CLI2.0 support in PR: https://github.com/chef/knife-azure/pull/467, which is merged. Will you please close this issue.

[2018-03-28 08:02] savishy commented on #466
Thanks for the quick action. I have not gotten a chance to verify the fix for this issue. Is is still alright to close it?

[2018-03-29 06:58] piyushawasthi commented on #466
Hi @savishy, Currently we have provided support of both Azure CLI1.0 and 2.0. Please verify as per your convenience if all good then close this issue.

[2018-04-04 12:42] dheerajd-msys commented on #466
@savishy As mentioned in above comment, Issue is fixed so closing this now. Please feel free to reopen if you face any difficulty.

[2018-04-04 12:42] #466 closed

[2018-04-05 08:31] savishy commented on #466
Alright sure. Since I had to move away from Chef for a bit I haven't been able to action this. Thanks for the quick response!

[2018-04-06 09:44] jayaen opened #469 "Azure VM not created on using knife azurerm server create command"
I have chefdk-2.5.3-1-x86 installed in windows 7 machine
Trying below command with --verbose  results in error
Please help to resolve the issue at earliest
knife azurerm server create  --azure-resource-group-name 'RG_LBMultiTier'  --azure-vm-name 'AppTierVM3'  --azure-vm-size Small  --azure-storage-account 'samultitiervms2' --azure-service-location 'East Asia' --azure-image-os-type windows   -x 'w

[2018-04-06 09:49] Vasu1105 commented on #469
@jayaen could you please post the log using -VV option in your command. That will give us detailed output.

[2018-04-11 07:48] jayaen commented on #469
Thanks , after including --winrm-user and password it works

[2018-04-11 07:56] jayaen opened #470 "IniFile::Error"
i got IniFile::Error on executing chef-client -o recipe[vmprovision]
seems to be in the first line of credential file where subscription id is placed inside square bracket []
i have attached stacktrace file
[xxxxxxxxxxxxx-xxxxxxx-xxxxxxxxxxx]
client_id = "xxxxxxxx-xxxxxx-xxxxxxxxxx-xxx"
client_secret = "xxxxxx"
tenant_id = "xxxxxxxxxxxxxxxx

please help me to resolve this issue at earliest

[chef-

[2018-04-11 07:58] #469 closed

[2018-04-11 08:01] Vasu1105 commented on #470
@jayaen Post the command you are running when you are getting this error.

[2018-04-11 08:06] jayaen commented on #470
chef-client -o recipe[vmprovision] --config c:\chef\client.rb

[2018-04-16 07:54] Vasu1105 commented on #465
@naveenkt59 Using -E option is your problem got solved ?

[2018-04-16 12:17] piyushawasthi commented on #441
Hi @RickFlist Thanks for your help.

[2018-04-16 12:17] piyushawasthi commented on #441
@rodriguesalex this issue fixed in PR: https://github.com/chef/knife-azure/pull/472

[2018-05-03 07:28] Vasu1105 commented on #470
@jayaen Are you using knife azure server create command to bootstrap your VM ? We need more details to understand. Looking at the log files it seems your cookbook is using chef-provisioning-azurerm. And it looks like more of a bug in chef-provisioning-azurerm. We also like to know what your vmprovision cookbook contains.

[2018-05-09 09:42] dheerajd-msys commented on #465
@naveenkt59 did you check your commands and suggestions posted here lately?

[2018-05-14 10:14] abhisheks255 opened #474 "Creating VM using custom azure images"
Hi,

How can we create a VM using azure custom images?? As far as i know , we can create vm using azure marketplace images , Do we have any functionality for deploying VM using our own custom images?

[2018-05-14 12:52] dheerajd-msys commented on #465
@naveenkt59 Could you please verify by running command again with your intact cookbook which is uploaded on chef-server. We've checked it on our side that cookbook is executing properly without any fix required.

We've used below command :
[code]
You can try with attached cookbook which is simplest to execute.
[starter.zip](https://github.com/chef/knife-azure/files/2000734/starter.zip)

[2018-05-15 10:05] dheerajd-msys commented on #474
@abhisheks255 Please refer https://github.com/chef/knife-azure/issues/342 for command to create VM using custom image. You can follow the instructions on comments for capturing the image and then try to create the vm using `knife azure server create` out of that custom image.

Thanks,

[2018-05-16 06:16] abhisheks255 commented on #474
How can i use --azure-source-image option with knife azurerm , according to my understanding this option works with knife azure but how can we create VM using custom images with azurerm ? I am getting this Error: invalid option: --azure-source-image when i use it with knife azurerm server create. Is there any way out with knife azurerm command for creating VM using custom images ?

[2018-05-17 09:42] chefuser13 opened #475 "unable to use existing storage account / Vnet while creating new VM"
Hi,

Is it possible to make use of existing storage account / virtual account (belonging to a different resource group, say 'abc') while creating a new VM (belongs to xyz resource group) on azure using "knife azurerm server create" command?

the below command has a storage account that is already existing, but the command adds a prefix to the storage account name.

knife azurerm server create --az

[2018-05-21 11:09] Vasu1105 commented on #465
Closing this since not able to reproduce. @naveenkt59 please provide logs and command that you are executing also cookbook details that you are running.

[2018-05-21 11:09] #465 closed

[2018-05-28 14:35] piyushawasthi commented on #474
hi @abhisheks255 for custom image you need to pass `--azure-image-reference-publisher` `--azure-image-reference-sku` and version if required with knife azurerm. Please check and let us know in case of any concerns. Also If all good please closed this issue.

[2018-05-29 12:47] dheerajd-msys commented on #475
@chefuser13, Under any subscription we can't use existing storage account from a resource group because that is unique for the subscription. So we prefix random string with storage account name while creating Azure ARM VM. This is the reason you get invalid storage account name ERROR.

Also there is no such option available to disable/disassociate public IP while creating Azure ARM VM. You can ach

[2018-05-30 07:36] #441 closed

[2018-06-05 20:07] DavidMcCarley opened #477 "azure_mgmt_resources conflict"
After install of knife-azure I get this error with any knife commands

E:/Chef/chefdk/embedded/lib/ruby/2.5.0/rubygems/specification.rb:2325:in `raise_if_conflicts': Unable to activate knife-azure-1.8.0, because azure_mgmt_resources-0.16.0 conflicts with azure_mgmt_resources (= 0.9.0) (Gem::ConflictError)

[2018-06-06 05:45] dheerajd-msys commented on #475
@chefuser13, Got a chance to look at it?

[2018-06-07 12:41] sonofhammer commented on #477
I had the same issue. I Was able to resolve it by uninstalling ChefDK 3.0.36 and installing version 2.5.3. It looks like the latest stable version of ChefDK is referencing azure_mgmt_resources 0.16.0 here: https://github.com/chef/chef-dk/blob/v3.0.36/Gemfile.lock, whereas knife-azure wants version 0.9.0

[2018-06-08 15:30] dheerajd-msys commented on #477
Closing this issue based on above comments.

Thanks

[2018-06-08 15:30] #477 closed

[2018-06-18 07:09] dheerajd-msys commented on #475
Closing this based on above comments.

Thanks

[2018-06-18 07:09] #475 closed

[2018-06-18 07:13] dheerajd-msys commented on #474
@abhisheks255 Got a chance to try out above options with `knife-azurerm`? Please let us know.

Thanks

[2018-06-18 07:17] dheerajd-msys commented on #470
@jayaen Any updates on this for above comments? Please let us know.

Thanks

[2018-08-03 11:25] Nimesh-Msys commented on #470
Hi @jayaen,
As per the logs, there is some parsing error from inifile. Could you please recheck the contents of your configuration file. The first line where subscription id is placed should be like:
[code]
i.e., an ID within square brackets. There should be no character before the open bracket also please check that the ID must not contain any invalid character(like an extra closing square bracke

[2018-08-13 12:21] #176 closed, assigned to nobody

[2018-08-13 12:25] Vasu1105 commented on #474
@abhisheks255 if you still need any help let us know. I am closing this for now.

[2018-08-13 12:25] #474 closed

[2018-08-27 07:58] Vasu1105 opened #486 "Validatorless boostrap fails with error for knife azurerem server create."
# Version:
[1.8.0]

# Environment:

It will get reproduced on any OS. I am working on Ubuntu 16.04

# Scenario:

knife azurerm server create command fails with error

[code]

# Steps to Reproduce:
Remove validation_key from knife.rb and from its folder
Run following command

knife azurerm server create -N vj-chef-test --azure-vm-name vj-chef-test --azure-resource-group-name vj-chef-test --azure-im

[2018-09-12 14:00] #486 closed

[2018-10-08 11:44] Vasu1105 opened #488 "Not able to create VM with Standard_F2 size"
# Version:
1.8.0
# Environment:
Windows Server 2012 R2 but this should be allowed with any OS Azure has different vm sizes for all OS since .
# Scenario:

knife azurerm server create -N vj-win-vm2 --azure-vm-name vj-win-vm2 --azure-resource-group-name vj-win-vm2 --azure-image-reference-offer 'WindowsServer' --azure-image-reference-publisher 'MicrosoftWindowsServer' --azure-image-reference-sku '201

[2018-10-17 19:17] fegonfe opened #490 "azure_mgmt_resources and azure_mgmt_network conflict errors"
# Version:

1.8.0

# Environment: [Details about the environment such as the Operating System, cookbook details, etc...]
Windows 10.
ChefDK: 3.3.23

# Steps to Reproduce:
knife azure image list

# Actual Result:

Traceback (most recent call last):
        18: from C:/opscode/chefdk/bin/knife:307:in `<main>'
        17: from C:/opscode/chefdk/bin/knife:307:in `load'
        16: from C:/opscode/chef

[2018-12-17 11:39] #488 closed

[2019-02-15 06:37] tas50 commented on #490
This will be resolved when we make the release of knife-azure 1.9, which will happen very soon.

[2019-02-15 06:37] #490 closed

[2019-02-21 22:51] btm commented on #490
knife azure 1.9.0 has been released.

[2019-05-16 05:30] Nimesh-Msys opened #498 "Improper error handling, always displays "Something went wrong"."
# Version:

Knife-Azure- 1.9.0
Chef-Client-15.0.293

# Environment:

Windows-10

# Scenario:

For almost all the error messages, knife-azure exits as follows:

[code]
# Steps to Reproduce:

Assuming that a VM has already been bootstrapped over MyVM. Simply try to bootstrap that VM again,

[code]

# Expected Result:

[code]
# Actual Result:

[code]

# Analysis:

On further analysis, I found that it

[2019-05-16 05:46] Nimesh-Msys commented on #498
Its backtrace, when using `-VV` (or `-V -V`) option:

[code]

[2019-05-16 10:00] Nimesh-Msys opened #499 "--bootstrap-version is not working"
# Version:

Knife-Azure- 1.9.0
Chef-Client-15.0.293

# Environment:

Windows-10

# Scenario:

Trying to install a particular version of chef-client on node with `knife bootstrap azurerm`. To achieve this, `--bootstrap-version` flag is provided but it always installs the latest chef-client.

# Steps to Reproduce:

[code]
# Expected Result:

Specified extension version should have been installed.

#

[2019-08-28 09:08] Nimesh-Msys commented on #499
Sorry. Was slightly confused with the azure-chef-extension version.
Rechecked. Correct chef version is getting installed. Closing.

[2019-08-28 09:08] #499 closed

[2019-09-10 16:02] #498 closed

[2019-10-14 22:19] dependabot-preview[bot] opened #504 "Dependabot can't parse your Gemfile"
Dependabot couldn't parse the Gemfile found at `/Gemfile`.

The error Dependabot encountered was:

[code]

[2019-10-14 22:55] #504 closed

[2020-03-20 06:46] KomalNimje opened #519 "Azure VM not created on using knife azurerm server create command"
# Version:
I have chefdk-4.7.73-1-x64 installed on Windows 10.
Ruby version - ruby 2.6.5p114

# Environment:
knife.rb

current_dir = File.dirname(__FILE__)
log_level                :info
log_location             STDOUT
node_name                "komalnimje1"
client_key               "#{current_dir}/komalnimje1.pem"
chef_server_url          "https://manage.chef.io/organizations/chef-org-win"
cookboo

[2020-03-20 09:54] KomalNimje commented on #469
How to include --winrm-user and password?

[2020-03-20 10:54] dheerajd-msys commented on #469
@KomalNimje In your command just append `--connection-user <USERNAME>` and `--connection-password <PASSWORD>` along with other required parameters.

Please refer https://github.com/chef/knife-azure/blob/master/docs/ARM.md#azure-server-create-subcommand for more information.

[2020-03-20 11:08] dheerajd-msys commented on #519
@KomalNimje It seems you've not install Azure Cli in your machine. Please try to follow https://github.com/chef/knife-azure#description and specifically https://docs.microsoft.com/en-us/cli/azure/install-azure-cli.

Please let us know if there is anything.

[2020-03-20 11:21] KomalNimje commented on #519
@dheerajd-msys Thanks for quick reply.
I already have AzureCLI installed on my machine. Please check below version.
And instead of config.rb, I'm using knife.rb. Is there any issue with knife.rb?

az --version
azure-cli                          2.2.0
command-modules-nspkg              2.0.3
core                               2.2.0
nspkg                              3.0.4
telemetry

[2020-03-20 11:32] KomalNimje commented on #469
![cheferror](https://user-images.githubusercontent.com/46679024/77159901-46af7d00-6acc-11ea-847d-fe693b54bc27.PNG)

@dheerajd-msys  This is as I'm trying. Still facing the error.
Please let me know if there is anything.

[2020-03-20 12:43] dheerajd-msys commented on #519
Thanks @KomalNimje for the update. Doesn't look like any issue with knife.rb.
We'll check and get back to you.

Linking your command o/p reference : https://github.com/chef/knife-azure/issues/469#issuecomment-601654703

[2020-03-26 13:26] dheerajd-msys commented on #519
Hi @KomalNimje We've got issue reproduced. Working to fix this up.

[2020-04-02 16:53] #519 closed

[2020-07-28 19:18] tas50 opened #529 "Update the default platform versions to supported releases"
We're currently defaulting to unsupported releases if platform versions are now provided.

[2020-09-09 17:47] tas50 opened #535 "Move to the latest azure profile instead of 2018 API release"
Right now we're hard coding specific API releases in this knife plugin and they are quite dated. Instead of doing this we should use the latest profile so we're always working with a known stable set of current API releases.

This mostly occurs in:

https://github.com/chef/knife-azure/blob/master/lib/azure/resource_management/ARM_interface.rb#L32

We can remove all the includes and then change how

[2021-06-02 19:23] tas50 opened #547 "Remove the legacy knife azure commands"
This plugin includes both `knife azure` and `knife azurerm` commands. The legacy azure API was deprecated 3 years ago. We should remove these legacy commands.

https://azure.microsoft.com/en-us/updates/deprecating-service-management-apis-support-for-azure-app-service/